{
  "extends": [
    "standard",
  ],
  "globals": {
    "initialData": true,
  },
  "env": {
    "browser": true,
    "jquery": true,
  },
  "plugins": [
  ],
  "rules": {
    "comma-dangle": ["error", "always-multiline"],
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "modules": true,
    }
  }
}
