Django==3.1.1
Pygments==2.7.1
Unidecode==1.1.1
asgiref==3.2.10
blessings==1.7
certifi==2020.6.20
chardet==3.0.4
curtsies==0.3.4
django-webpack-loader==0.7.0
djangorestframework==3.11.1
factory-boy==3.0.1
Faker==4.1.3
greenlet==0.4.16
idna==2.10
psycopg2-binary==2.8.6
pytest-django==3.10.0
pytest==6.0.2
python-dotenv==0.14.0
python-memcached==1.59
pytz==2020.1
requests==2.24.0
six==1.15.0
sqlparse==0.3.1
typing==3.7.4.1
urllib3==1.25.10
