blessings==1.7
certifi==2019.6.16
chardet==3.0.4
curtsies==0.3.0
Django==2.2.5
django-webpack-loader==0.6.0
djangorestframework==3.10.3
greenlet==0.4.15
idna==2.8
psycopg2-binary==2.8.3
Pygments==2.4.2
python-memcached==1.59
pytz==2019.2
requests==2.22.0
six==1.12.0
sqlparse==0.3.0
typing==3.7.4.1
Unidecode==1.1.1
urllib3==1.25.3
wcwidth==0.1.7
