Django==3.2.3
Faker==8.3.0
Pygments==2.9.0
Unidecode==1.2.0
asgiref==3.3.4
blessings==1.7
certifi==2020.12.5
chardet==4.0.0
curtsies==0.3.5
django-webpack-loader==1.0.0
djangorestframework==3.12.4
factory-boy==3.2.0
greenlet==1.1.0
more-itertools==8.8.0
packaging==20.9
psycopg2-binary==2.8.6
py==1.10.0
pytest-django==4.3.0
pytest==6.2.4
python-dotenv==0.17.1
pytz==2021.1
requests==2.25.1
six==1.16.0
sqlparse==0.4.2
typing==3.7.4.3
urllib3==1.26.5
