{% load pokestuff_tags %}

<nav>
  <div class="nav">
    <div
      id="menuToggle"
    >
      <label for="inputMenuToggle" class="screen-reader">Menu toggle</label>
      <input id="inputMenuToggle" type="checkbox" style="opacity: 0;"/>
      <span class="menu-line"></span>
      <span class="menu-line"></span>
      <span class="menu-line"></span>
      <ul id="menu" style="opacity: 0;">
        {% for key, value in navigation.items %}
          <li>
            <a href="{{ key }}">
              <div {% is_active current_url key forloop.first %}>
                {{ value|upper }}
              </div>
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
    <div class="changelog-toggle">
      Changelog
      <span class="changelog-date">updated 1 Jul 2020</span>
    </div>
  </div>
</nav>

<div class="changelog-info-wrapper" hidden>
  <p>Hello and thanks for stopping by! I've stopped playing Pokemon GO in March 2019, but continued updating the calculator for as long as I could. Sadly, this has come to an end on September 2020.</p>
  7/2020
  <ul>
    <li>added shadow pokemon</li>
    <li>added buddy boost (L41) option for good to go</li>
    <li>removed buddy boost levels 42-45</li>
  </ul>
  4/2020
  <ul>
    <li>updated move stats, assigned new moves to some pokemon</li>
  </ul>
  12/2019
  <ul>
    <li>capped CPM level for good to go to 40</li>
    <li>reworked buddy boost for breakpoint calculator (no longer accounted for in the level 1-40 DPS %, addressed separately in the text info)</li>
  </ul>
  <ul>
    <li>added CPM levels 41-45 (buddy boost)</li>
    <li>added new (and old) moves</li>
  </ul>
  10/2019
  <ul>
    <li>reworked attacker/defender drop down (no longer preloads, the list became too long with gen V)</li>
    <li>enabled fuzzy matching (e.g. if you type in "gradvoir" the search will still manage to return "gardevoir" as one of the results</li>
  </ul>
  9/2019
  <ul>
    <li>added gen V pokemon</li>
    <li>removed bootstrap (technical debt/performance improvement)</li>
    <li>updated UI after removing bootstrap</li>
  </ul>
  7/2019
  <ul>
    <li>added temporary friendship bonuses</li>
    <li>updated content (Armored Mewtwo, new moves for some pokemon</li>
  </ul>
  3/2019
  <ul>
    <li>added changelog</li>
  </ul>
  2/2019
  <ul>
    <li>made pokemon and move pages mobile friendly, added filters</li>
    <li>added indicators for legacy moves and excluded them from raid boss movesets</li>
    <li>reworked top counters to be more accurate and flexible, added rank/DPS toggle</li>
    <li>slightly improved performance and load times</li>
  </ul>
  1/2019
  <ul>
    <li>brought pokemon and move pages back</li>
    <li>updated moves with PvP data</li>
    <li>implemented hidden power</li>
  </ul>
  3/2018
  <ul>
    <li>updated the breakpoint calculator for raids</li>
  </ul>
  5/2017
  <ul>
    <li>launched breakpoint calculator beta</li>
  </ul>
</div>
