@import './choicesjsOverrides.sass'
@import './general.sass'

.select-attacker-wrapper
  flex: 9 9 0rem
  margin: 0 0.5rem 0.5rem 0

.input-attacker-atk-iv-wrapper,
.select-attacker-quick-move-wrapper,
.select-friendship-boost-wrapper,
.select-weather-condition-wrapper,
.toggle-tier-3-5-raid-bosses,
.toggle-tier-1-2-raid-bosses
  @extend .input-wrapper
  &:after
    @extend %input-arrow
    right: .5rem

.select-weather-condition-wrapper
  flex: 2 2 0rem

.toggle-buddy-boost
  flex: 1 2 0rem
  position: relative
  padding: 0
  margin: 0 0 0 0.5rem

.select-attacker-quick-move-wrapper,
.select-friendship-boost-wrapper
  margin: 0 0.25rem 0.5rem 0

.select-weather-condition-wrapper,
.toggle-tier-1-2-raid-bosses
  margin: 0 0 0.4rem 0.25rem

.toggle-tier-3-5-raid-bosses
  margin: 0 0.25rem

.toggle-tier-3-5-raid-bosses,
.toggle-tier-1-2-raid-bosses
  text-align: left
  background-color: $backgroundColor
  border-radius: $borderRadius

.pressed
  background-color: $highlightColor

.results
  font-size: $fontSize

.results-wrapper
  position: relative
  cursor: pointer
  margin-bottom: .4rem
  border-left: .1rem solid $highlightColor

  &:after
    @extend %input-arrow
    right: .5rem

.results-header
  border-bottom: .1rem solid $highlightColor

.single-result
  border-bottom: .1rem solid rgba(50, 50, 50, .1)
  margin: .2rem 0

.results-header,
.single-result
  position: relative
  padding-left: .5rem

@media (min-width: $mediaBreakpoint)
  .results-wrapper
    max-width: 60%
