@import './choicesjsOverrides.sass'
@import './general.sass'


.type-label-wrapper
  padding: .4rem .6rem .4rem 0

%type-label
  color: $fontColor
  padding: .4rem .5rem .3rem
  border-radius: .5rem
  font-size: 1.2rem
  width: 5.5rem
  text-align: center
  margin: 0 .1rem

.type-bug
  @extend %type-label
  background-color: rgba(148, 194, 46, .7)

.type-dark
  @extend %type-label
  background-color: rgba(94, 90, 107, .7)

.type-dragon
  @extend %type-label
  background-color: rgba(9, 108, 193, .7)

.type-electric
  @extend %type-label
  background-color: rgba(245, 212, 73, .7)

.type-fairy
  @extend %type-label
  background-color: rgba(238, 146, 229, .7)

.type-fighting
  @extend %type-label
  background-color: rgba(209, 65, 101, .7)

.type-fire
  @extend %type-label
  background-color: rgba(254, 161, 83, .7)

.type-flying
  @extend %type-label
  background-color: rgba(143, 169, 222, .7)

.type-ghost
  @extend %type-label
  background-color: rgba(92, 108, 183, .7)

.type-grass
  @extend %type-label
  background-color: rgba(96, 188, 91, .7)

.type-ground
  @extend %type-label
  background-color: rgba(217, 121, 71, .7)

.type-ice
  @extend %type-label
  background-color: rgba(121, 209, 197, .7)

.type-normal
  @extend %type-label
  background-color: rgba(145, 154, 161, .7)

.type-poison
  @extend %type-label
  background-color: rgba(169, 101, 200, .7)

.type-psychic
  @extend %type-label
  background-color: rgba(250, 126, 126, .7)

.type-rock
  @extend %type-label
  background-color: rgba(201, 187, 140, .7)

.type-steel
  @extend %type-label
  background-color: rgba(85, 146, 164, .7)

.type-water
  @extend %type-label
  background-color: rgba(85, 155, 217, .7)
