<nav>
  <div class="nav">
    <div
      id="menuToggle"
    >
      <label for="inputMenuToggle" class="screen-reader">Menu toggle</label>
      <input id="inputMenuToggle" type="checkbox" style="opacity: 0;"/>
      <span class="menu-line"></span>
      <span class="menu-line"></span>
      <span class="menu-line"></span>
      <ul id="menu" style="opacity: 0;">
        {% for menu_item in navigation.navigationitem_set.all %}
          <li>
            <a href="/{{ menu_item.slug }}/">
              <div class="{% if current_url == '' and forloop.first %}active{% endif %}{% if menu_item.slug in current_url %}active{% endif %}">
                {{ menu_item|upper }}
              </div>
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
    <div class="changelog-toggle">
      Changelog
      <span class="changelog-date">updated 9/2019</span>
    </div>
  </div>
</nav>

<div class="changelog-info-wrapper" hidden>
  <p>Hello and thanks for stopping by! I'd like to inform you that I've stopped playing Pokemon GO in March 2019, but still maintain the calculator. Feel free to message me at <a href="https://www.reddit.com/user/zenofewords" target="_blank" rel="noopener">reddit</a> if you notice something missing, as I'm a bit out of the loop as far as game updates go.</p>
  9/2019
  <ul>
    <li>removed bootstrap (technical debt/performance improvement)</li>
    <li>updated UI after removing bootstrap</li>
  </ul>
  7/2019
  <ul>
    <li>added temporary friendship bonuses</li>
    <li>updated content (Armored Mewtwo, new moves for some pokemon</li>
  </ul>
  3/2019
  <ul>
    <li>added changelog</li>
  </ul>
  2/2019
  <ul>
    <li>made pokemon and move pages mobile friendly, added filters</li>
    <li>added indicators for legacy moves and excluded them from raid boss movesets</li>
    <li>reworked top counters to be more accurate and flexible, added rank/DPS toggle</li>
    <li>slightly improved performance and load times</li>
  </ul>
  1/2019
  <ul>
    <li>brought pokemon and move pages back</li>
    <li>updated moves with PvP data</li>
    <li>implemented hidden power</li>
  </ul>
  3/2018
  <ul>
    <li>updated the breakpoint calculator for raids</li>
  </ul>
  5/2017
  <ul>
    <li>launched breakpoint calculator beta</li>
  </ul>
</div>

<script>
  var inputMenuToggle = document.getElementById('inputMenuToggle');
  var menuLines = document.querySelectorAll('.menu-line');
  var changelogInfoWrapper = document.querySelector('.changelog-info-wrapper');

  inputMenuToggle.addEventListener('focus', function() {
    for (var i = 0; i < menuLines.length; i++) {
      menuLines[i].classList.add('focus');
    }
  });
  inputMenuToggle.addEventListener('blur', function() {
    for (var i = 0; i < menuLines.length; i++) {
      menuLines[i].classList.remove('focus');
    }
  });
  document.querySelector('.changelog-toggle').addEventListener('click', function() {
    changelogInfoWrapper.hidden = !changelogInfoWrapper.hidden;
  });
</script>
