{% extends 'pgo/pgo_base.html' %}


{% block title %}
    {{ block.super }} - Attack Proficiency Calculator
{% endblock title %}

{% block content %}
<div class="attack-pro-wrapper row">
    <div class="attack-pro-form-wrapper col-md-5">
        <form id="attack-pro-form">
            <div class="row">
                <div class="col-xs-12">
                    <select id="attacker" class="attack-pro-select" tabindex="1">
                        <option value="-1" disabled selected>Select attacker</option>
                        {% for data in pokemon_data %}
                            <option value="{{ data.0 }}">{{ data.1 }} ({{ data.2 }} ATK)</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <select id="quick_move" class="attack-pro-select-move" tabindex="2" disabled>
                        <option value="-1" disabled selected>Quick move</option>
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <select id="cinematic_move" class="attack-pro-select-move" tabindex="3" disabled>
                        <option value="-1" disabled selected>Cinematic move</option>
                    </select>
                </div>
            </div>

            <div class="row attack-pro-input-wrapper">
                <div class="col-xs-6">
                    <input type="number" id="attacker_lvl" class="attack-pro-input level-input form-control" name="attacker_lvl" placeholder="Attacker level" min="1" max="40" step="0.5" tabindex="4">
                </div>
                <div class="col-xs-4 attack-pro-atk-iv-wrapper">
                    <select id="attack_iv" class="attack-pro-select-atk-iv" tabindex="5">
                        {% for n in attack_iv_range %}
                            <option value="{{ n }}">{{ n }} ATK</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-xs-2">
                    <a href="#" id="help_button" class="btn btn-info help-button">?</a>
                </div>
            </div>

            <div class="row">
                <div class="help-text col-xs-12">
                    Don't know your pokemon's level and ATK IV? Find out at <a href="https://pokemongo.gamepress.gg/pokemongo-iv-calculator#/" target="_blank">GamePress</a>.
                </div>
            </div>

            <div class="row raid-select-wrapper">
                <div class="col-xs-6">
                    <select id="weather_condition" class="attack-pro-select-weather" tabindex="6">
                        <option value="0" selected>Weather (None)</option>
                        {% for weather_id, weather_name in weather_conditions %}
                            <option value="{{ weather_id }}">{{ weather_name }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="col-xs-4 raid-toggle-wrapper">
                    <input type="checkbox" id="raid_boss_check" name="raid_boss_check" hidden checked>
                    <button id="raid_toggle_button" name="raid_toggle_button" type="button" class="btn btn-success raid-toggle-button" tabindex="7">
                        <span class="glyphicon glyphicon-off" aria-hidden="true"></span> Raid
                    </button>
                </div>

                <div class="col-xs-2 raid-tier-wrapper">
                    <select id="raid_tier" class="attack-pro-select-raid-tier" tabindex="8">
                        <option value="5">T5</option>
                        <option value="4">T4</option>
                        <option value="3">T3</option>
                        <option value="2">T2</option>
                        <option value="1">T1</option>
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <select id="defender_raid_boss" class="attack-pro-select" tabindex="9">
                    </select>
                </div>
            </div>

            <div class="row" >
                <div class="col-xs-12" hidden>
                    <select id="defender" class="attack-pro-select" tabindex="9">
                        <option value="-1" selected disabled>Select defender</option>
                        {% for data in pokemon_data %}
                            <option value="{{ data.0 }}">{{ data.1 }} ({{ data.3 }} DEF)</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="row attack-pro-input-wrapper hidden">
                <div class="col-xs-8">
                    <input type="number" id="defender_lvl" class="attack-pro-input level-input" name="defender_lvl" placeholder="Defender level" min="1" max="40" step="0.5" value="40">
                </div>
                <div class="col-xs-4">
                    <input type="number" id="defense_iv" class="attack-pro-input" name="defense_iv" placeholder="DEF IV" min="0" max="15" step="1" value="15">
                </div>
            </div>

            <input type="submit" id="submit" name="submit" value="Submit" class="attack-pro-button btn btn-primary" tabindex="10">
            <input type="hidden" id="csrf_token" value="{{ csrf_token }}">
        </form>
    </div>
    <div class="col-md-7 attack-proficiency-info">
        <div class="attack-proficiency-intro">
            <p>
                The attack proficiency calculator was built to help find damage breakpoints.
            </p>
            <p>
                To begin, select your attacker and its attacks, enter the level and ATK IV, choose what you'll be attacking and hit submit.
            </p>
        </div>
        <div class="attack-proficiency-current">
            <p>
                <span id="attack_iv_assessment"></span>
                <span id="weather_boost"></span>
            </p>
            <p hidden>
                <span id="attacker_quick_move"></span> would do
                <span id="quick_attack_damage"></span>, and
                <span id="attacker_cinematic_move"></span>
                <span id="cinematic_attack_damage"></span>, damage per hit to the target.
            </p>
        </div>
    </div>
</div>

<div class="attack-proficiency-stats-wrapper row">
    <div class="col-sm-12">
        <p class="attack-proficiency-summary"></p>
        <table id="attack-proficiency-stats" class="table table-striped">
            <tbody></tbody>
        </table>
    </div>
</div>

<div class="shoutbox row">
    <div class="col-md-12">
        <hr>
        <p>Something doesn't seem right? You can let me know at <a href="https://www.reddit.com/user/zenofewords" target="_blank">reddit</a>.</p>
        <a href="#" id="toggle-changelog">
            <p>Changelog <span class="glyphicon glyphicon-plus" aria-hidden="true"></span></p>
        </a>
    </div>

    <div class="col-md-12 changelog">
        <ul>
            <li>1/25/2018</li>
            <ul>
                <li>made more UI tweaks (longer form fields look better on windows based OS)</li>
                <li>added weather boost info for attacks</li>
                <li>fixed the delay when switching from raid bosses to regular defenders</li>
            </ul>
            <li>1/15/2018</li>
            <ul>
                <li>fixed attacker level input not displaying placeholder and value on firefox (OSX)</li>
                <li>added weather boosts</li>
                <li>redesigned the UI slightly</li>
            </ul>
            <li>1/12/2018</li>
            <ul>
                <li>updated for gen III</li>
                <li>moved to a smaller server</li>
            </ul>
        </ul>
    </div>
</div>
{% endblock content %}

{% block scripts %}
    {{ block.super }}
{% endblock scripts %}
