{% extends 'pgo/pgo_base.html' %}


{% block title %}
    {{ block.super }} - Attack Proficiency Calculator
{% endblock title %}

{% block content %}
<div class="attack-pro-wrapper row">
    <div class="attack-pro-form-wrapper col-md-4">
        <form id="attack-pro-form">
            <select id="attacker" class="attack-pro-select" tabindex="1">
                <option value="-1" disabled selected>Select attacker</option>
                {% for data in pokemon_data %}
                    <option value="{{ data.0 }}">{{ data.1 }} ({{ data.2 }} ATK)</option>
                {% endfor %}
            </select>
            <br>

            <select id="quick_move" class="attack-pro-select" tabindex="2" disabled>
                <option value="-1" disabled selected>Quick move</option>
            </select>
            <br>

            <select id="cinematic_move" class="attack-pro-select" tabindex="3" disabled>
                <option value="-1" disabled selected>Cinematic move</option>
            </select>

            <div class="row attack-pro-input-wrapper">
                <div class="col-xs-6">
                    <input type="number" id="attacker_lvl" class="attack-pro-input level-input form-control" name="attacker_lvl" placeholder="Attacker level" min="1" max="40" step="0.5" tabindex="4">
                </div>
                <div class="col-xs-4">
                    <input type="number" id="attack_iv" class="attack-pro-input iv-input form-control" name="attack_iv" placeholder="ATK IV" min="0" max="15" step="1" tabindex="5">
                </div>
                <div class="col-xs-2">
                    <a href="#" id="help_button" class="btn btn-info help-button">?</a>
                </div>
            </div>

            <div class="row">
                <div class="help-text col-xs-12">
                    Don't know the level and ATK IV? You can find out at <a href="https://pokemongo.gamepress.gg/pokemongo-iv-calculator#/" target="_blank">GamePress</a>.
                </div>
            </div>

            <div class="row raid-boss-input-wrapper">
                <div class="col-xs-12 raid-boss-check-wrapper">
                    <input type="checkbox" id="raid_boss_check" name="raid_boss_check" tabindex="6" checked>
                    <label for="raid_boss_check" class="label label-info raid-boss-text">Raid</label>

                    <input type="radio" class="raid_tier_radio" id="tier_2_radio" name="raid_tier_group" tabindex="7">
                    <label for="tier_2_radio" class="boss-tier-radio">T2</label>
                    <input type="radio" class="raid_tier_radio" id="tier_3_radio" name="raid_tier_group" tabindex="7">
                    <label for="tier_3_radio" class="boss-tier-radio">T3</label>
                    <input type="radio" class="raid_tier_radio" id="tier_4_radio" name="raid_tier_group" checked tabindex="7">
                    <label for="tier_4_radio" class="boss-tier-radio">T4</label>
                    <input type="radio" class="raid_tier_radio" id="tier_5_radio" name="raid_tier_group" checked tabindex="7">
                    <label for="tier_5_radio" class="boss-tier-radio">T5</label>
                </div>
            </div>

            <select id="defender" class="attack-pro-select" tabindex="8">
                <option value="-1" disabled selected>Select defender</option>
                {% for data in pokemon_data %}
                    <option value="{{ data.0 }}">{{ data.1 }} ({{ data.3 }} DEF)</option>
                {% endfor %}
            </select>

            <div class="row attack-pro-input-wrapper hidden">
                <div class="col-xs-8">
                    <input type="number" id="defender_lvl" class="attack-pro-input level-input form-control" name="defender_lvl" placeholder="Defender level" min="1" max="40" step="0.5" value="40">
                </div>
                <div class="col-xs-4">
                    <input type="number" id="defense_iv" class="attack-pro-input iv-input form-control" name="defense_iv" placeholder="DEF IV" min="0" max="15" step="1" value="15">
                </div>
            </div>
            <br>

            <input type="submit" id="submit" name="submit" value="Submit" class="attack-pro-button btn btn-primary" tabindex="9">
            <input type="hidden" id="csrf_token" value="{{ csrf_token }}">
        </form>
    </div>
    <div class="attack-proficiency-info col-md-8">
        <div class="attack-proficiency-intro">
            <p>
                The attack proficiency calculator was built to help find damage "breakpoints".
            </p>
            <p>
                To begin, select your attacker and its attacks, enter its level and ATK IV and choose what you'll be attacking, then hit submit.
            </p>
        </div>
        <div class="attack-proficiency-current">
            <p>
                <span id="attack_iv_assessment"></span>
            </p>
            <p hidden>
                <span id="attacker_quick_move"></span> would do
                <span id="quick_attack_damage"></span>, and
                <span id="attacker_cinematic_move"></span>
                <span id="cinematic_attack_damage"></span>, damage per hit to the target.
            </p>
        </div>
    </div>
</div>

<div class="attack-proficiency-stats-wrapper row">
    <div class="col-sm-12">
        <p class="attack-proficiency-summary"></p>
        <table id="attack-proficiency-stats" class="table table-striped">
            <tbody></tbody>
        </table>
    </div>
</div>

<div class="disclaimer row">
    <div class="col-md-12 well" style="margin:0 13px 7px 13px;">
        Moving to a smaller server done. Updated for gen III. Next up, weather boosts.
        Thank you for your support and patience.
    </div>
    <p class="col-sm-12">
        For complex battle simulations, and much more, check out <a href="https://www.pokebattler.com/" target="_blank">Pokebattler</a>.
    </p>
</div>
{% endblock content %}

{% block scripts %}
    {{ block.super }}
{% endblock scripts %}
