{% extends 'pgo/pgo_base.html' %}
{% load render_bundle from webpack_loader %}


{% block title %}
  {{ block.super }} - Breakpoint Calculator
{% endblock title %}

{% block meta_description %}
  <meta name="description" content="The Pokemon GO breakpoint calculator was built to help you find your pokemon's offensive breakpoints and plan your power-ups accordingly.">
{% endblock %}

{% block content %}
<div class="row" style="max-width: 90rem;">
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" style="max-width: 45rem;">
    <form id="breakpoint-calc-form">
      <div class="row">
        <div class="col-xs-8 input-padding-right">
          <label for="choices-single-default" class="sr-only">Select attacker</label>
          <select class="form-control breakpoint-calc-select-attacker" data-trigger name="choices-single-default" id="choices-single-default">
            <option value="-1" placeholder disabled selected>Select attacker</option>
            {% for data in pokemon_data %}
              <option value="{{ data.0 }}">{{ data.1 }} ({{ data.2 }} ATK)</option>
            {% endfor %}
          </select>
        </div>
        <div class="col-xs-4 input-padding-left">
          <label for="breakpoint-calc-input-attacker-level" class="sr-only">Attacker level</label>
          <input id="breakpoint-calc-input-attacker-level" class="form-control breakpoint-calc-input" type="number" name="attacker_lvl" placeholder="Attacker lvl" min="1" max="40" step="0.5" value="20">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6 input-padding-right">
          <label for="breakpoint-calc-select-quick-move" class="sr-only">Quick move</label>
          <select id="breakpoint-calc-select-quick-move" class="form-control breakpoint-calc-input" disabled>
            <option value="-1" disabled selected>Quick move</option>
          </select>
        </div>
        <div class="col-xs-6 input-padding-left">
          <label for="breakpoint-calc-select-cinematic-move" class="sr-only">Cinematic move</label>
          <select id="breakpoint-calc-select-cinematic-move" class="form-control breakpoint-calc-input" disabled>
            <option value="-1" disabled selected>Cinematic move</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6 input-padding-right">
          <label for="breakpoint-calc-select-attacker-atk-iv" class="sr-only">Attacker ATK IV</label>
          <select id="breakpoint-calc-select-attacker-atk-iv" class="form-control breakpoint-calc-input">
            {% for n in attack_iv_range %}
              <option value="{{ n }}">{{ n }} ATK</option>
            {% endfor %}
          </select>
        </div>
        <div class="col-xs-6 input-padding-left">
          <label for="breakpoint-calc-select-weather-condition" class="sr-only">Weather condition</label>
          <select id="breakpoint-calc-select-weather-condition" class="form-control breakpoint-calc-input">
            {% for data in weather_condition_data %}
              <option value="{{ data.0 }}">{{ data.1 }}</option>
            {% endfor %}
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-8 input-padding-right">
          <label for="choices-single-default" class="sr-only">Select defender</label>
          <select class="form-control breakpoint-calc-select-defender" data-trigger name="choices-single-default" id="choices-single-default">
            <option value="-1" placeholder disabled selected>Select defender</option>
            {% for data in pokemon_data %}
              <option value="{{ data.0 }}">{{ data.1 }} ({{ data.3 }} DEF)</option>
            {% endfor %}
          </select>
        </div>
        <div class="col-xs-4 input-padding-left">
          <label for="breakpoint-calc-select-defender-tier" class="sr-only">Defender tier / level</label>
          <select id="breakpoint-calc-select-defender-tier" class="form-control breakpoint-calc-input">
            {% for data in defender_cpm_data %}
                {% if forloop.last %}
                  <option value="{{ data.1 }}0">L{{ data.0.normalize }}</option>
                {% else %}
                  <option value="{{ data.1 }}{{ data.0 }}">T{{ data.0 }}</option>
                {% endif %}
            {% endfor %}
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <input id="breakpoint-calc-input-submit" class="btn btn-primary btn-sm" type="submit" name="submit" value="Submit" style="width: 100%;">
        </div>
      </div>
    </form>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
    <p id="breakpoint-calc-atk-iv-assessment" class="text-left">
      The Pokemon GO breakpoint calculator was built to help you find your pokemon's offensive breakpoints and plan your power-ups accordingly.
    </p>
    <p id="breakpoint-calc-move-effectivness" class="text-left">
      Select your pokemon, change the attacks, level, and ATK IV if necessary, then choose what you'll be attacking and hit submit.
    </p>
  </div>
</div>
<div class="row" style="max-width: 90rem;">
  <div class="col-xs-12">
    <p id="breakpoint-calc-summary" class="text-left text-margin-top">
    </p>
    <p id="breakpoint-calc-move-details" class="text-left">
    </p>
    <div class="text-left text-margin-top">
      <div id="breakpoint-calc-breakpoint-details-table" hidden>
        <!--<div class="breakpoint-calc-tabs">
          <input class="btn breakpoint-calc-tab breakpoint-calc-selected-tab" type="submit" id="breakpoint-calc-breakpoints" value="Breakpoints">
          <input class="btn breakpoint-calc-tab" type="submit" id="breakpoint-calc-top-counters" value="Top counters">
        </div>-->
        <table id="breakpoint-calc-breakpoints-table" class="table table-striped">
          <thead>
            <tr>
              <th>Lvl</th>
              <th>Dust / candy</th>
              <th class="text-left">
                <span class="glyphicon glyphicon-flash breakpoint-calc-move-icon" aria-hidden="true"></span>
              </th>
              <th class="text-left">
                <span class="glyphicon glyphicon-hourglass" aria-hidden="true"></span>

                <a href="#">
                  <span id="breakpoint-calc-toggle-cinematic-breakpoints" class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                </a>
              </th>
              <th>DPS (%)</th>
              <th>KO time*</th>
            </tr>
          </thead>
          <tbody id="breakpoint-calc-breakpoint-details-table-body"></tbody>
        </table>
        <table id="breakpoint-calc-top-counters-table" class="table" hidden>
          <thead>
            <tr>
              <th width="20%">Pokemon</th>
              <th width="40%" class="text-left">
                <span class="glyphicon glyphicon-flash" aria-hidden="true"></span>
              </th>
              <th width="40%" class="text-left">
                <span class="glyphicon glyphicon-hourglass" aria-hidden="true"></span>
              </th>
              <th width="10%">DPS</th>
            </tr>
          </thead>
          <tbody id="breakpoint-calc-top-counters-table-body"></tbody>
        </table>
        <span class="small">
          * Knockout times are based exclusively on weave damage and defender HP. For thorough battle simulations visit
          <a href="https://www.pokebattler.com/" target="_blank" rel="noopener">Pokebattler</a>.
        </span>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block scripts %}
  {% render_bundle 'breakpointCalc' attrs='async' %}
  {{ block.super }}

  {% block generic %}
  {% endblock generic %}

  <script type="text/javascript">
    var initialData = {{ initial_data|safe }}
    window.pgoAPIURLs = {
      'move-list': "{% url 'api-pgo:move-list' %}",
      'defender-list': "{% url 'api-pgo:pokemon-list' %}",
      'breakpoint-calc': "{% url 'api-pgo:breakpoint-calc' %}",
    };
  </script>
{% endblock scripts %}
