{% extends 'pgo/pgo_base.html' %}
{% load static %}
{% load render_bundle from webpack_loader %}


{% block title %}
  {{ block.super }} - Breakpoint Calculator
{% endblock title %}

{% block meta_description %}
  <meta name="description" content="The Pokemon GO breakpoint calculator was built to help you find your pokemon's offensive breakpoints and plan your power-ups accordingly.">
{% endblock %}

{% block content %}
<div class="row">
  {% if site_notifications %}
    <div class="col-xs-12">
      {% for notification in site_notifications %}
        <p>
          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
          {{ notification.message|safe }}
        </p>
      {% endfor %}
    </div>
  {% endif %}
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" style="padding-bottom: 1rem;">
    <form id="breakpoint-calc-form">
      <div class="row">
        <div class="col-xs-8 input-padding-right">
          <label for="choices-single-default" class="sr-only">Select attacker</label>
          <select class="form-control breakpoint-calc-select-attacker" data-trigger name="choices-single-default" id="choices-single-default">
            <option value="-1" placeholder disabled selected>Select attacker</option>
          </select>
        </div>
        <div class="col-xs-4 input-padding-left">
          <label for="breakpoint-calc-input-attacker-level" class="sr-only">Attacker level</label>
          <input id="breakpoint-calc-input-attacker-level" class="form-control input-height attacker_level" type="number" name="attacker_lvl" placeholder="Attacker lvl" min="1" max="40" step="0.5" value="20">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6 input-padding-right">
          <label for="breakpoint-calc-select-quick-move" class="sr-only">Quick move</label>
          <select id="breakpoint-calc-select-quick-move" class="form-control input-height" disabled>
            <option value="-1" disabled selected>Quick move</option>
          </select>
        </div>
        <div class="col-xs-6 input-padding-left">
          <label for="breakpoint-calc-select-cinematic-move" class="sr-only">Cinematic move</label>
          <select id="breakpoint-calc-select-cinematic-move" class="form-control input-height" disabled>
            <option value="-1" disabled selected>Cinematic move</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-4 input-padding-right">
          <label for="breakpoint-calc-select-attacker-atk-iv" class="sr-only">Attacker ATK IV</label>
          <select id="breakpoint-calc-select-attacker-atk-iv" class="form-control input-height">
            {% for n in attack_iv_range %}
              <option value="{{ n }}">{{ n }} ATK</option>
            {% endfor %}
          </select>
        </div>
        <div class="col-xs-4 input-padding-right input-padding-left">
          <label for="breakpoint-calc-select-weather-condition" class="sr-only">Weather condition</label>
          <select id="breakpoint-calc-select-weather-condition" class="form-control input-height">
            {% for data in weather_condition_data %}
              <option value="{{ data.0 }}">{{ data.1 }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="col-xs-4 input-padding-left">
          <label for="breakpoint-calc-select-friendship-boost" class="sr-only">Friendship boost</label>
          <select id="breakpoint-calc-select-friendship-boost" class="form-control input-height">
            {% for friend in friendship %}
              <option value="{{ friend.damage_boost }}">{{ friend.level }}</option>
            {% endfor %}
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-8 input-padding-right">
          <label for="choices-single-default" class="sr-only">Select defender</label>
          <select class="form-control breakpoint-calc-select-defender" data-trigger name="choices-single-default" id="choices-single-default">
            <option value="-1" placeholder disabled selected>Select defender</option>
          </select>
        </div>
        <div class="col-xs-4 input-padding-left">
          <label for="breakpoint-calc-select-defender-tier" class="sr-only">Defender tier / level</label>
          <select id="breakpoint-calc-select-defender-tier" class="form-control input-height">
            {% for data in defender_cpm_data %}
              {% if forloop.last %}
                <option value="{{ data.1 }}0">L{{ data.0.normalize }}</option>
              {% else %}
                <option value="{{ data.1 }}{{ data.0 }}" {% if data.0 == 5 %}selected{% endif %}>T{{ data.0 }}</option>
              {% endif %}
            {% endfor %}
          </select>
        </div>
      </div>
    </form>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
    <p id="breakpoint-calc-atk-iv-assessment">
      The Pokemon GO breakpoint calculator was built to help you find your pokemon's breakpoints and plan power-ups accordingly.
    </p>
    <p id="breakpoint-calc-move-effectiveness">
      Selecting an attacker and a defender will auto submit the form. Changing any value will refresh the data.
    </p>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="text-left">
      <div id="breakpoint-calc-breakpoint-details-table" hidden>
        <div class="breakpoint-calc-tabs">
          <input class="btn breakpoint-calc-tab breakpoint-calc-selected-tab" type="submit" id="breakpoint-calc-breakpoints" value="Breakpoints">
          <input class="btn breakpoint-calc-tab" type="submit" id="breakpoint-calc-top-counters" value="Top counters">
        </div>
        <table id="breakpoint-calc-breakpoints-table" class="table table-striped">
          <thead>
            <tr>
              <th>Lvl</th>
              <th>
                <img class="icon-stardust" src="{% static 'static/icons/stardust.png' %}">
                | <img class="icon-candy" src="{% static 'static/icons/candy.png' %}">
              </th>
              <th class="text-left">
                <span class="glyphicon glyphicon-flash breakpoint-calc-move-icon" aria-hidden="true"></span>
              </th>
              <th class="text-left">
                <a href="#">
                  <span id="breakpoint-calc-toggle-cinematic-breakpoints" class="glyphicon glyphicon-hourglass" aria-hidden="true"></span>
                </a>
              </th>
              <th>DPS</th>
              <th>
                <span class="glyphicon glyphicon-user" aria-hidden="true"></span> #
              </th>
            </tr>
          </thead>
          <tbody id="breakpoint-calc-breakpoint-details-table-body"></tbody>
        </table>
        <div id="breakpoint-calc-top-counters-table" hidden>
          <table id="breakpoint-calc-counters-moveset" class="table">
            <thead>
              <tr>
                <th id="breakpoint-calc-counters-moveset-label" width="18%">VS</th>
                <td id="breakpoint-calc-counters-move" width="37%">
                  <label for="breakpoint-calc-select-defender-quick-move" class="sr-only">Quick move</label>
                  <select id="breakpoint-calc-select-defender-quick-move" class="form-control input-height" disabled>
                    <option value="-1" disabled selected>Quick move</option>
                  </select>
                </td>
                <td id="breakpoint-calc-counters-move" width="45%">
                  <label for="breakpoint-calc-select-defender-cinematic-move" class="sr-only">Cinematic move</label>
                  <select id="breakpoint-calc-select-defender-cinematic-move" class="form-control input-height" disabled>
                    <option value="-1" disabled selected>Cinematic move</option>
                  </select>
                </td>
              </tr>
            </thead>
          </table>
          <table id="top-counters-table" class="table">
            <thead>
              <tr>
                <th width="29%" id="top-counters-table-attacker-stats"></th>
                <th width="31%" class="text-left">
                  <span class="glyphicon glyphicon-flash" aria-hidden="true"></span>
                </th>
                <th width="32%" class="text-left">
                  <span class="glyphicon glyphicon-hourglass" aria-hidden="true"></span>
                </th>
                <th width="8%">DPS</th>
              </tr>
            </thead>
            <tbody id="breakpoint-calc-top-counters-table-body"></tbody>
          </table>
        </div>
        <div class="faq-legend-wrapper">
          <a id="faq-legend-link" href="#">
            <h5>
              <span class="glyphicon glyphicon-chevron-down faq-legend-chevron" aria-hidden="true"></span>
                FAQ / legend
              <span class="glyphicon glyphicon-chevron-down faq-legend-chevron" aria-hidden="true"></span>
            </h5>
          </a>
          <hr>
          <div id="faq-legend-content" hidden>
            <p>
              <strong>Breakpoints</strong> - due to rounding in the damage formula, damage dealt in PGo isn't linear
            </p>
            <p>
              Instead, there are certain points for combinations of attacker and defender level, IVs, and moves, where the damage per hit of the move is, sometimes significantly, increased.
            </p>
            <ul>
              <li>
                <p>
                  <strong>Lvl</strong> - your pokemon's current level and levels at which breakpoints occur
                </p>
              </li>
              <li>
                <p>
                  <img src="{% static 'static/icons/stardust.png' %}"> - stardust required to level up from current level to breakpoint (<em>k</em> stands for thousand)
                </p>
              </li>
              <li>
                <p>
                  <img src="{% static 'static/icons/candy.png' %}"> - candy required to level up from current level to breakpoint
                </p>
              </li>
              <li>
                <p>
                  <span class="glyphicon glyphicon-flash" aria-hidden="true"></span> - quick move's damage per hit
                </p>
                <p>
                   Unlike charge move breakpoints, quick move breakpoints are usually highly impactful.
                </p>
              </li>
              <li>
                <p>
                  <span class="glyphicon glyphicon-hourglass" aria-hidden="true"></span> - charge move's damage per hit
                </p>
                <p>
                  You can toggle the button to display all charge move breakpoints.
                </p>
              </li>
              <li>
                <p>
                  <strong>DPS</strong> - stands for damage per second
                </p>
                <p>
                  The percentages in brackets are relative to a perfect, maxed specimen of the selected pokemon.
                </p>
                <p>
                  DPS is calculated using the damage formula, factoring in the charge up, and use, of charge moves translated into "cycles" which are then divided by the duration of the moves required to perform a single cycle.
                </p>
              </li>
              <li>
                <p>
                  <span class="glyphicon glyphicon-user" aria-hidden="true"></span> # - the aproximated number of trainers required to win the raid
                </p>
                <p>
                  Assumes that every trainer is using the exact, selected pokemon. This metric should not be relied upon when attempting to shortman raids, it's here to help figure out by how much the pokemon is improved when hitting breakpoints.
                </p>
              </li>
            </ul>

            <hr>
            <p>
              <strong>Top Counters</strong> - a quick reference list of pokemon which counter the selected defender
            </p>
            <p>It features counters ranked by their damage output. However, the defender's moves, resistances, and the selected weather are also accounted for. Feel free to adjust the IV and level of the attackers in the list. The counters are pitted against level 40 pokemon, unless the defender can be a raid boss, where you are given the option of selecting a tier for more accurate results.</p>
            <hr>
          </div>
        </div>
        <p class="disclaimer">
          All calculations are purely math based. DPS and the required number of trainers are approximated. For high quality battle simulations, visit <a href="https://www.pokebattler.com/" target="_blank" rel="noopener">Pokebattler</a>.
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block scripts %}
  {% render_bundle 'breakpointCalc' attrs='async' %}
  {{ block.super }}

  {% block generic %}
  {% endblock generic %}

  <script type="text/javascript">
    var initialData = {{ initial_data|safe }}
    window.pgoAPIURLs = {
      'simple-pokemon-list': "{% url 'api-pgo:simple-pokemon-list' %}",
      'move-list': "{% url 'api-pgo:move-list' %}",
      'defender-list': "{% url 'api-pgo:pokemon-list' %}",
      'breakpoint-calc': "{% url 'api-pgo:breakpoint-calc' %}",
    };
  </script>
{% endblock scripts %}
