{% extends 'pgo/move_list.html' %}

{% block title %}
  {{ block.super }} - Farewell
{% endblock title %}

{% block content %}
  <p>
    September 2020
  </p>
  <p>
    As many of you already know, I completely stopped playing PGo almost two years ago.
    Had a little comeback when PvP was released, but that didn't last and I've since moved
    on to other games, projects, and activities.
  </p>
  <p>
    Despite this I tried to keep the calculator updated for as long as possible, but
    recently other commercial and hobby projects have taken priority. The only time I had
    left to work on the breakpoint calc was time I'd rather spend with friends and family
    or sleeping.
  </p>
  <p>
    I never expected the breakpoint calc would live this long and for that I must thank
    all of you for using it and messaging me about game updates, but this is farewell. Maybe
    we'll meet again in some other game and then I might even be using your calculator :)
  </p>
{% endblock content %}
