{% extends 'pgo/pgo_base.html' %}
{% load render_bundle from webpack_loader %}

{% block title %}
  {{ block.super }} - Good to Go
{% endblock title %}

{% block meta_description %}
  <meta name="description" content="Good to Go is a comprehensive breakpoint calculator used to quickly figure out if your pokemon can hit the final quick move breakpoint for all selected matchups.">
{% endblock %}

{% block scripts %}
  {% render_bundle 'goodToGo' 'css' %}
{% endblock scripts %}

{% block content %}
  <div class="wrapper">
    <div class="input-wrapper">
      <div class="row">
        <div class="select-attacker-wrapper">
          <label for="choices-single-default" class="screen-reader">Select attacker</label>
          <select class="select-attacker" data-trigger name="choices-single-default" id="choices-single-default">
            <option value="-1" disabled selected>Select attacker</option>
            {% for pokemon in pokemon_qs %}
              <option value="{{ pokemon.pk }}">
                {{ pokemon.name }} | {{ pokemon.primary_type.name }} {% if pokemon.secondary_type %} / {{ pokemon.secondary_type.name }}{% endif %}
              </option>
            {% endfor %}
          </select>
        </div>

        <div class="input-attacker-atk-iv-wrapper">
          <label for="select-atk-iv" class="screen-reader">Attacker ATK IV</label>
          <select id="select-atk-iv">
            <option value="-1" selected disabled>? ATK</option>
            {% for n in attack_iv_range %}
              <option value="{{ n }}">{{ n }} ATK</option>
            {% endfor %}
          </select>
        </div>
      </div>

      <div class="row">
        <div class="select-attacker-quick-move-wrapper">
          <label for="select-quick-move" class="screen-reader">Quick move</label>
          <select id="select-quick-move" disabled>
            <option value="-1" disabled selected>Quick move</option>
          </select>
        </div>

        <div class="select-weather-condition-wrapper">
          <label for="select-weather-condition" class="screen-reader">Weather condition</label>
          <select id="select-weather-condition">
            {% for weather_condition in weather_condition_data %}
              <option value="{{ weather_condition.pk }}">{{ weather_condition.name }}</option>
            {% endfor %}
          </select>
        </div>
      </div>

      <div class="row">
        <div class="select-friendship-boost-wrapper">
          <label for="select-friendship-boost" class="screen-reader">Friendship boost</label>
          <select id="select-friendship-boost">
            {% for friend in friendship %}
              <option value="{{ friend.damage_boost }}">{{ friend.level }}</option>
            {% endfor %}
          </select>
        </div>
        <input type="submit" class="toggle-tier-3-6-raid-bosses pressed" value="T3-6 bosses">
        <input type="submit" class="toggle-tier-1-2-raid-bosses" value="T1-2 bosses">
      </div>
    </div>
    <div class="output-wrapper">
      <p>
        Good to Go is a comprehensive breakpoint calculator used to quickly figure out if your pokemon can hit the final quick move breakpoint for all selected matchups.
      </p>
      <p>
        Selecting an attacker and its ATK IV will auto submit the form. Changing any value will refresh the data.
      </p>
    </div>
  </div>
  <div class="results" hidden></div>
{% endblock content %}

{% block body_scripts %}
  {% render_bundle 'goodToGo' 'js' attrs='async' %}

  <script>
    var initialData = {{ initial_data|safe }};
    window.pgoAPIURLs = {
      'simple-pokemon-list': "{% url 'api-pgo:simple-pokemon-list' %}",
      'move-list': "{% url 'api-pgo:move-list' %}",
      'good-to-go': "{% url 'api-pgo:good-to-go' %}",
    };
  </script>
{% endblock body_scripts %}
