{% extends 'pgo/pgo_base.html' %}
{% load render_bundle from webpack_loader %}


{% block title %}
  {{ block.super }} - Good to Go
{% endblock title %}

{% block meta_description %}
  <meta name="description" content="Good to Go is a comprehensive breakpoint calculator used to quickly figure out if your pokemon can hit the final quick move breakpoint for all selected matchups.">
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 form-wrapper" style="padding-bottom: 1rem;">
      <div class="row">
        <div class="col-xs-8 input-padding-right">
          <label for="choices-single-default" class="sr-only">Select attacker</label>
          <select class="form-control good-to-go-select-attacker" data-trigger name="choices-single-default" id="choices-single-default">
            <option value="-1" placeholder disabled selected>Select attacker</option>
          </select>
        </div>
        <div class="col-xs-4 input-padding-left">
          <label for="good-to-go-select-atk-iv" class="sr-only">Attacker ATK IV</label>
          <select id="good-to-go-select-atk-iv" class="form-control input-height">
            <option value="-1" selected disabled>? ATK</option>
            {% for n in attack_iv_range %}
              <option value="{{ n }}">{{ n }} ATK</option>
            {% endfor %}
          </select>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-6 input-padding-right">
          <label for="good-to-go-select-quick-move" class="sr-only">Quick move</label>
          <select id="good-to-go-select-quick-move" class="form-control input-height" disabled>
            <option value="-1" disabled selected>Quick move</option>
          </select>
        </div>
        <div class="col-xs-6 input-padding-left">
          <label for="good-to-go-select-cinematic-move" class="sr-only">Cinematic move</label>
          <select id="good-to-go-select-cinematic-move" class="form-control input-height" disabled>
            <option value="-1" disabled selected>Cinematic move</option>
          </select>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-6 input-padding-right">
          <label for="good-to-go-select-friendship-boost" class="sr-only">Friendship boost</label>
          <select id="good-to-go-select-friendship-boost" class="form-control input-height">
            {% for friend in friendship %}
              <option value="{{ friend.damage_boost }}">{{ friend.level }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="col-xs-6 input-padding-left">
          <label for="good-to-go-select-weather-condition" class="sr-only">Weather condition</label>
          <select id="good-to-go-select-weather-condition" class="form-control input-height">
            {% for weather_condition in weather_condition_data %}
              <option value="{{ weather_condition.pk }}">{{ weather_condition.name }}</option>
            {% endfor %}
          </select>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-4 input-padding-right">
          <input type="checkbox" id="tier-3-6-raid-bosses" checked hidden>
          <button id="toggle-tier-3-6-raid-bosses" type="button" class="btn btn-info form-control input-height">
            T3-6 bosses
          </button>
        </div>
        <div class="col-xs-4 input-padding-right input-padding-left">
          <input type="checkbox" id="tier-1-2-raid-bosses" hidden>
          <button id="toggle-tier-1-2-raid-bosses" type="button" class="btn btn-default form-control input-height">
            T1-2 bosses
          </button>
        </div>
        <div class="col-xs-4 input-padding-left">
          <input type="checkbox" id="relevant-defenders" hidden>
          <button id="toggle-relevant-defenders" type="button" class="btn btn-default form-control input-height" disabled>
            Gyms
          </button>
        </div>
      </div>
    </div>
    <div id="good-to-go-summary-text" class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <p>
        Good to Go is a comprehensive breakpoint calculator used to quickly figure out if your pokemon can hit the final quick move breakpoint for all selected matchups.
      </p>
      <p>
        Selecting an attacker and its ATK IV will auto submit the form. Changing any value will refresh the data.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div id="good-to-go-results" class="good-to-go-results" hidden></div>
    </div>
  </div>
{% endblock content %}

{% block scripts %}
  {{ block.super }}
  {% render_bundle 'goodToGo' attrs='async' %}

  <script type="text/javascript">
    var initialData = {{ initial_data|safe }};
    window.pgoAPIURLs = {
      'simple-pokemon-list': "{% url 'api-pgo:simple-pokemon-list' %}",
      'move-list': "{% url 'api-pgo:move-list' %}",
      'good-to-go': "{% url 'api-pgo:good-to-go' %}",
    };
  </script>
{% endblock scripts %}
