{% extends 'pgo/move_list.html' %}


{% block title %}
  {{ block.super }} - {{ move.name }}
{% endblock title %}

{% block meta_description %}
  <meta name="description" content="The move detail page.">
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <table class="table">
        <tr class="move-detail">
          <td class="search-move-wrapper">
            <label for="choices-single-default" class="sr-only">
              Find move
            </label>
            <select class="form-control list-search" data-trigger name="choices-single-default" id="choices-single-default">
              <option value="-1" placeholder disabled selected>
                Find move
              </option>
              {% for row in data %}
                <option value="{{ row.0 }}">
                  {{ row.1 }}
                </option>
              {% endfor %}
            </select>
          </td>
          <th>
            Category
          </th>
          <th>
            Type
          </th>
          <th>
            Power
          </th>
          <th>
            Energy
          </th>
          <th>
            Duration
          </th>
          <th>
            DPS
          </th>
          <th>
            EPS
          </th>
          <th>
            PvP Power
          </th>
          <th>
            PvP Energy
          </th>
          <th>
            PvP Duration
          </th>
          <th>
            DPT
          </th>
          <th>
            EPT
          </th>
          <th>
            DPE
          </th>
        </tr>
        <tr>
          <td>{{ move.name }}</td>
          <td>{{ move.get_category_display }}</td>
          <td id="type-label-wrapper">
            <div class="type-label type-{{ move.move_type.slug }}">
              {{ move.move_type }}
            </div>
          </td>
          <td>{{ move.power }}</td>
          <td>{{ move.energy_delta }}</td>
          <td>{{ move.duration }}</td>
          <td>{{ move.dps }}</td>
          <td>{{ move.eps }}</td>
          <td>{{ move.pvp_power }}</td>
          <td>{{ move.pvp_energy_delta }}</td>
          <td>{{ move.pvp_duration }} turns</td>
          <td>{{ move.dpt|default:"0" }}</td>
          <td>{{ move.ept|default:"0" }}</td>
          <td>{{ move.dpe|default:"0" }}</td>
        </tr>
        <tr>
          <td colspan="14">
            <a href="{% url 'pgo:move-list' %}">
              &lt; moves
            </a>
          </td>
        </tr>
      </table>

      <div class="table-wrapper">
        <table class="table stacked-small-table">
          <tr>
            <th colspan="2">Effectivness</th>
          </tr>
          <tr>
            <th>Type</th>
            <th>x</th>
          </tr>
          {% for type, value in effectivness %}
            <tr>
              <td id="type-label-wrapper">
                <div class="type-label type-{{ type|lower }}">
                  {{ type }}
                </div>
              </td>
              <td>
                {% widthratio value 1 100 %}%
              </td>
            </tr>
          {% endfor %}
        </table>
        <table class="table stacked-xlarge-table">
          <tr>
            <th colspan="8">
              List of pokemon which learn {{ move.name }}
            </th>
          </tr>
          <tr>
            <th>
              #
            </th>
            <th>
              Name
            </th>
            <th>
              P. type
            </th>
            <th>
              S. type
            </th>
            <th>
              Attack
            </th>
            <th>
              Defense
            </th>
            <th>
              Stamina
            </th>
            <th>
              MaxCP
            </th>
          </tr>

          {% for pokemon_move in pokemon_moves %}
            {% with pokemon_move.pokemon as pokemon %}
              <tr>
                <td>{{ pokemon.number }}</td>
                <td>
                  <a href="{% url 'pgo:pokemon-detail' pokemon.slug %}">
                    {{ pokemon.name }}
                  </a>
                </td>
                <td id="type-label-wrapper">
                  <div class="type-label type-{{ pokemon.primary_type.slug }}">
                    {{ pokemon.primary_type }}
                  </div>
                </td>
                <td id="type-label-wrapper">
                  <div class="type-label type-{{ pokemon.secondary_type.slug }}">
                    {{ pokemon.secondary_type|default:"" }}
                  </div>
                </td>
                <td>{{ pokemon.pgo_attack }}</td>
                <td>{{ pokemon.pgo_defense }}</td>
                <td>{{ pokemon.pgo_stamina }}</td>
                <td>{{ pokemon.maximum_cp|floatformat:"0" }}</td>
              </tr>
            {% endwith %}
          {% endfor %}
        </table>
      </div>
    </div>
  </div>
{% endblock content %}
