{% extends 'pgo/move_list.html' %}
{% load zenofewords_tags %}


{% block title %}
  {{ block.super }} - {{ move.name }}
{% endblock title %}

{% block meta_description %}
  <meta name="description" content="The move detail page with stats.">
{% endblock %}

{% block content %}
  <div class="row">
    <table>
      <tr>
        <td colspan="2" class="list-search-wrapper cell-width-30">
          <label for="choices-single-default" class="screen-reader">
            Find move
          </label>
          <select class="list-search" data-trigger name="choices-single-default" id="choices-single-default">
            <option value="-1" disabled selected>
              Find move
            </option>
            {% for row in data %}
              <option value="{{ row.0 }}">
                {{ row.1 }}
              </option>
            {% endfor %}
          </select>
        </td>
        <td colspan="{% if preset == 'pve' %}6{% else %}5{% endif %}">
          <a href="?preset={% if preset == 'pve' %}pvp{% else %}pve{% endif %}">
            <span class="{% if preset == 'pvp' %}underline{% endif %}">
              PvP
            </span>
            /
            <span class="{% if preset == 'pve' %}underline{% endif %}">
              PvE
            </span>
          </a>
        </td>
      </tr>
      <tr>
        <th>
          Move
        </th>
        <th>
          PWR
        </th>
        <th>
          ENE
        </th>
        <th>
          <span class="cinematic-move-icon">&nbsp;</span>
        </th>
        {% if preset == 'pve' %}
          <th>
            DPS
          </th>
          <th>
            EPS
          </th>
        {% else %}
          <th>
            DPT
          </th>
          <th>
            EPT
          </th>
          <th>
            DPE
          </th>
        {% endif %}
      </tr>
      <tr>
        <td>
          <div class="move-wrapper">
            <a href="{% url 'pgo:move-detail' move.slug %}">
              <div>
                {% if 'Hidden P.' in move.name %}
                  Hidden Power
                {% else %}
                  {{ move.name }}
                {% endif %}
              </div>
            </a>
            <div class="type-wrapper">
              <div class="type-{{ move.move_type.slug }}">
                {{ move.move_type.name }}
              </div>
            </div>
          </div>
        </td>
        {% if preset == 'pve' %}
          <td>{{ move.power }}</td>
          <td>{{ move.energy_delta }}</td>
          <td>{{ move.duration }}</td>
          <td>{{ move.dps }}</td>
          <td>{{ move.eps }}</td>
        {% else %}
          <td>{{ move.pvp_power }}</td>
          <td>{{ move.pvp_energy_delta }}</td>
          <td>{{ move.pvp_duration }}</td>
          <td>{{ move.dpt|default:"0" }}</td>
          <td>{{ move.ept|default:"0" }}</td>
          <td>{{ move.dpe|floatformat:"2"|default:"0" }}</td>
        {% endif %}
      </tr>
    </table>
  </div>
  <a class="list-link" href="{% url 'pgo:move-list' %}">
    Back to move list
  </a>
  <div class="pokemon-stats-table">
    <div class="row pokemon-resistance-weakness">
      <table>
        <tr>
          <th colspan="2">Super effective</th>
        </tr>
        {% for type, value in effectiveness_effective %}
          <tr>
            <td>
              <div class="type-{{ type|lower }}">
                {{ type }}
              </div>
            </td>
            <td>
              {% widthratio value 1 100 %}%
            </td>
          </tr>
        {% endfor %}
      </table>
      <table>
        <tr>
          <th colspan="2">Not very effective</th>
        </tr>
        {% for type, value in effectiveness_not_effective %}
          <tr>
            <td>
              <div class="type-{{ type|lower }}">
                {{ type }}
              </div>
            </td>
            <td>
              {% widthratio value 1 100 %}%
            </td>
          </tr>
        {% endfor %}
      </table>
    </div>
    <div class="row pokemon-stats-table">
      <table>
        <tr>
          <th>
            Who can learn {{ move.name }}?
          </th>
          <th>
            Atk
          </th>
          <th>
            Def
          </th>
          <th>
            Sta
          </th>
          <th>
            Prod
          </th>
          <th>
            CP
          </th>
        </tr>

        {% for pokemon_move in pokemon_moves %}
          {% with pokemon_move.pokemon as pokemon %}
            <tr>
              <td>
                <div class="pokemon-wrapper">
                  <a href="{% url 'pgo:pokemon-detail' pokemon.slug %}">
                    {{ pokemon.name }}
                  </a>
                  <div class="type-wrapper">
                    <div class="type-{{ pokemon.primary_type.slug }}">
                      {{ pokemon.primary_type.name }}
                    </div>
                    <div class="type-{{ pokemon.secondary_type.slug|default:"none" }}">
                      {{ pokemon.secondary_type.name|default:"" }}
                    </div>
                  </div>
                </div>
              </td>
              <td>{{ pokemon.pgo_attack }}</td>
              <td>{{ pokemon.pgo_defense }}</td>
              <td>{{ pokemon.pgo_stamina }}</td>
              <td>{{ pokemon.stat_product|format_stat_product }}</td>
              <td>{{ pokemon.maximum_cp|floatformat:"0" }}</td>
            </tr>
          {% endwith %}
        {% endfor %}
      </table>
    </div>
  </div>
{% endblock content %}
