{% extends 'pgo/pgo_base.html' %}


{% block content %}
    <table class="table table-striped">
        <thead>
            <th>Category</th>
            <th>Name</th>
            <th>Type</th>
            <th>Power</th>
            <th>Energy delta</th>
            <th>Duration</th>
            <th>Damage start</th>
            <th>DPS</th>
            <th>EPS</th>
        </thead>
        <tbody>
            {% for obj in object_list %}
                <tr>
                    <td>
                        {{ obj.get_category_display }}
                    </td>
                    <td>
                        <a href="{% url 'pgo:move-detail' obj.slug %}">
                            {{ obj.name }} {{ obj.legacy|yesno:"Legacy Move," }}
                        </a>
                    </td>
                    <td>
                        {{ obj.move_type }}
                    </td>
                    <td>
                        {{ obj.power }}
                    </td>
                    <td>
                        {{ obj.energy_delta }}
                    </td>
                    <td>
                        {{ obj.duration }}ms
                    </td>
                    <td>
                        {{ obj.damage_window_start }}ms
                    </td>
                    <td>
                        {{ obj.dps }}
                    </td>
                    <td>
                        {{ obj.eps }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ block.super }}
{% endblock content %}
