{% extends 'pgo/pgo_base.html' %}


{% block title %}
    {{ block.super }} - Moves
{% endblock title %}

{% block content %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    {% include 'pgo/includes/move_sortable_header.html' with name='Name' sort_by='name' %}
                </th>
                <th>
                    {% include 'pgo/includes/move_sortable_header.html' with name='Type' sort_by='move_type' %}
                </th>
                <th>
                    {% include 'pgo/includes/move_sortable_header.html' with name='Power' sort_by='power' %}
                </th>
                <th>
                    {% include 'pgo/includes/move_sortable_header.html' with name='Energy' sort_by='energy_delta' %}
                </th>
                <th>
                    {% include 'pgo/includes/move_sortable_header.html' with name='Duration' sort_by='duration' %}
                </th>
                <th>
                    {% include 'pgo/includes/move_sortable_header.html' with name='DPS' sort_by='dps' %}
                </th>
                <th>
                    {% include 'pgo/includes/move_sortable_header.html' with name='EPS' sort_by='eps' %}
                </th>
            </tr>
        </thead>
        <tbody>
            {% for object in object_list %}
                {% include 'pgo/includes/move_row.html' %}
            {% endfor %}
        </tbody>
    </table>
    {{ block.super }}
{% endblock content %}
