{% extends 'pgo/pgo_base.html' %}


{% block title %}
    {{ block.super }} - Movesets
{% endblock title %}

{% block content %}
    {{ block.super }}

    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    {% include 'pgo/includes/moveset_sortable_header.html' with name='Pokemon' sort_by='pokemon__number&amp;weave_damage' %}
                </th>
                <th>
                    Moveset
                </th>
                <th colspan="5">
                    {% include 'pgo/includes/moveset_sortable_header.html' with name='Moveset damage over 100s for level' sort_by='weave_damage' %}
                </th>
            </tr>
            <tr>
                <th>Filter placeholder</th>
                <th>Filter placeholder</th>
                <th>20</th>
                <th>25</th>
                <th>30</th>
                <th>35</th>
                <th>40</th>
            </tr>
        </thead>

        {% for moveset in object_list %}
            <tr>
                <td>
                    <a href="{% url 'pgo:pokemon-detail' moveset.pokemon.slug %}">
                        {{ moveset.pokemon.name }}
                    </a>
                </td>
                <td>
                    {{ moveset.key }}
                    {% if moveset.legacy %}
                        <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
                    {% endif %}
                </td>
                {% for moveset_data in moveset.weave_damage %}
                    <td>
                        {{ moveset_data.1|floatformat:"0" }}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>

    {{ block.super }}
{% endblock content %}
