{% extends 'zenofewords/base.html' %}
{% load zenofewords_tags %}


{% block title %}
  Pokemon GO
{% endblock title %}

{% block head %}
  {{ block.super }}

  {% block meta_description %}
    <meta name="description" content="Pokemon Go resources and tools.">
  {% endblock %}
  <meta name="keywords" content="breakpoint calculator, damage breakpoints, pokemon, pokemon go, pgo, game mechanics, game tools">
{% endblock head %}

{% block header %}
  {{ block.super }}
  {% navigation_tag 'pgo' True %}

  {% for notification in site_notifications %}
    <p>
      <i class="fas fa-exclamation-circle"></i>
      {{ notification.message|safe }}
    </p>
  {% endfor %}
{% endblock header %}

{% block footer %}
  <div>
    Something doesn't seem right? You can let me know at <a href="https://www.reddit.com/user/zenofewords" target="_blank" rel="noopener">reddit</a>.
    <br>
    {{ block.super }}
  </div>
{% endblock footer %}
