{% extends 'zenofewords/base.html' %}
{% load zenofewords_tags %}
{% load render_bundle from webpack_loader %}


{% block title %}
    Pokemon GO
{% endblock title %}

{% block head %}
    {{ block.super }}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
{% endblock head %}

{% block header %}
    {{ block.super }}
    {% navigation_tag 'pgo' True %}
{% endblock header %}

{% block scripts %}
    {{ block.super }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
    {% render_bundle 'main' %}

    <script type="text/javascript">
        window.pgoAPIURLs = {}
        pgoAPIURLs = {
            'move-list': "{% url 'api-pgo:move-list' %}",
            'defender-list': "{% url 'api-pgo:pokemon-list' %}",
            'breakpoint-calc': "{% url 'api-pgo:breakpoint-calc' %}",
            'breakpoint-calc-stats': "{% url 'api-pgo:breakpoint-calc-stats' %}",
            'breakpoint-calc-detail': "{% url 'api-pgo:breakpoint-calc-detail' %}",
        }
    </script>
{% endblock scripts %}
