{% extends 'pgo/pokemon_list.html' %}
{% load zenofewords_tags %}


{% block title %}
  {{ block.super }} - {{ pokemon.name }}
{% endblock title %}

{% block meta_description %}
  <meta name="description" content="The Pokemon detail page.">
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <table>
        <tr>
          <td class="search-pokemon-wrapper">
            <label for="choices-single-default" class="screen-reader">
              Find pokemon
            </label>
            <select class="list-search" data-trigger name="choices-single-default" id="choices-single-default">
              <option value="-1" placeholder disabled selected>
                Find pokemon
              </option>
              {% for row in data %}
                <option value="{{ row.0 }}">
                  {{ row.1 }}
                </option>
              {% endfor %}
            </select>
          </td>
          <th>
            Atk
          </th>
          <th>
            Def
          </th>
          <th>
            Sta
          </th>
          <th>
            Product
          </th>
          <th>
            CP
          </th>
        </tr>
        <tr>
          <td>
            <div>
              <a href="{% url 'pgo:pokemon-detail' pokemon.slug %}">
                {{ pokemon.name }}
              </a>
              <div>
                <div class="type-{{ pokemon.primary_type.slug }}">
                  {{ pokemon.primary_type.name }}
                </div>
                <div class="type-{{ pokemon.secondary_type.slug }}">
                  {{ pokemon.secondary_type.name|default:"" }}
                </div>
              </div>
            </div>
          </td>
          <td>{{ pokemon.pgo_attack }}</td>
          <td>{{ pokemon.pgo_defense }}</td>
          <td>{{ pokemon.pgo_stamina }}</td>
          <td>{{ pokemon.stat_product|format_stat_product }}</td>
          <td>{{ pokemon.maximum_cp|floatformat:"0" }}</td>
        </tr>
        <tr>
          <td colspan="14">
            <a href="{% url 'pgo:pokemon-list' %}">
              &lt; pokemon list
            </a>
          </td>
        </tr>
      </table>

      <table>
        <tr>
          <th>
            Move stats
          </th>
          <td colspan="{% if preset == 'pve' %}5{% else %}6{% endif %}">
            <a href="?preset={% if preset == 'pve' %}pvp{% else %}pve{% endif %}">
              <span class="{% if preset == 'pvp' %}underline{% endif %}">
                PvP
              </span>
              /
              <span class="{% if preset == 'pve' %}underline{% endif %}">
                PvE
              </span>
            </a>
          </td>
        </tr>
        <tr>
          <th width="31%">
            Move
          </th>
          {% if preset == 'pve' %}
            <th>
              <span class="glyphicon glyphicon-fire" aria-hidden="true"></span>
            </th>
            <th>
              <span class="glyphicon glyphicon-leaf" aria-hidden="true"></span>
            </th>
            <th>
              <span class="glyphicon glyphicon-hourglass" aria-hidden="true"></span>
            </th>
            <th>
              DPS
            </th>
            <th>
              EPS
            </th>
          {% else %}
            <th>
              <span class="glyphicon glyphicon-fire" aria-hidden="true"></span>
            </th>
            <th>
              <span class="glyphicon glyphicon-leaf" aria-hidden="true"></span>
            </th>
            <th>
              <span class="glyphicon glyphicon-hourglass" aria-hidden="true"></span>
            </th>
            <th>
              DPT
            </th>
            <th>
              EPT
            </th>
            <th>
              DPE
            </th>
          {% endif %}
        </tr>

        {% for pokemon_move in pokemon_moves %}
          {% with pokemon_move.move as move %}
            <tr>
              <td>
                <div>
                  <a href="{% url 'pgo:move-detail' move.slug %}">
                    <div>
                      {% if 'Hidden P.' in move.name %}
                        Hidden Power
                      {% else %}
                        {{ move.name }}
                      {% endif %}
                      {% if pokemon_move.legacy %}
                        *
                      {% endif %}
                    </div>
                  </a>
                  <div class="type-{{ move.move_type.slug }}">
                    {{ move.move_type.name }}
                  </div>
                </div>
              </td>
              {% if preset == 'pve' %}
                <td>{{ move.power }}</td>
                <td>{{ move.energy_delta }}</td>
                <td>{{ move.duration }}</td>
                <td>{{ move.dps }}</td>
                <td>{{ move.eps }}</td>
              {% else %}
                <td>{{ move.pvp_power }}</td>
                <td>{{ move.pvp_energy_delta }}</td>
                <td>{{ move.pvp_duration }}</td>
                <td>{{ move.dpt|default:"0" }}</td>
                <td>{{ move.ept|default:"0" }}</td>
                <td>{{ move.dpe|floatformat:"2"|default:"0" }}</td>
              {% endif %}
            </tr>
          {% endwith %}
        {% endfor %}
      </table>
    </div>
  </div>
  <div>
    <div>
      <table>
        <tr>
          <th colspan="2">
            Resistances
          </th>
        </tr>
        {% for resistance, value in pokemon.compound_resistance.items %}
          <tr>
            <td id="type-label-wrapper">
              <div class="type-{{ resistance|lower }}">
                {{ resistance }}
              </div>
            </td>
            <td>
              {% widthratio value 1 100 %}%
            </td>
          </tr>
        {% endfor %}
      </table>
      <table>
        <tr>
          <th colspan="2">
            Weaknesses
          </th>
        </tr>
        {% for weakness, value in pokemon.compound_weakness.items %}
          <tr>
            <td id="type-label-wrapper">
              <div class="type-{{ weakness|lower }}">
                {{ weakness }}
              </div>
            </td>
            <td>
              {% widthratio value 1 100 %}%
            </td>
          </tr>
        {% endfor %}
      </table>
    </div>
    <div>
      <table>
        <tr>
          <th colspan="5">
            Perfect stats
          </th>
        </tr>
        <tr>
          <th>Level</th>
          <th>Attack</th>
          <th>Defense</th>
          <th>Stamina</th>
          <th>CP</th>
        </tr>
        {% for stats in pokemon_stats %}
          <tr>
            {% for value in stats %}
              <td>
                {{ value }}
              </td>
            {% endfor %}
          </tr>
        {% endfor %}
      </table>
    </div>
  </div>
{% endblock content %}
