{% extends 'pgo/pgo_base.html' %}
{% load zenofewords_tags %}


{% block content %}
    <table class="table table-striped">
        <thead>
            <th>Number</th>
            <th>Name</th>
            <th>Primary Type</th>
            <th>Secondary Type</th>
            <th>Stamina</th>
            <th>Attack</th>
            <th>Defense</th>
            <th>Max CP</th>
        </thead>
        {% for object in object_list %}
            <tr>
                <td>
                    <a href="{% url 'pgo:pokemon-detail' object.slug %}">
                        {{ object.number }}
                    </a>
                </td>
                <td>
                    {{ object.name }}
                </td>
                <td>
                    {{ object.primary_type }}
                </td>
                <td>
                    {{ object.secondary_type|default:"-" }}
                </td>
                <td>
                    {{ object.pgo_stamina }}
                </td>
                <td>
                    {{ object.pgo_attack }}
                </td>
                <td>
                    {{ object.pgo_defense }}
                </td>
                <td>
                    {{ object.maximum_cp|floor }}
                </td>
            </tr>
        {% endfor %}
    </table>

    {{ block.super }}
{% endblock content %}
