{% extends 'pgo/pgo_base.html' %}
{% load zenofewords_tags %}


{% block title %}
    {{ block.super }} - Pokemon
{% endblock title %}

{% block content %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th colspan="2">
                    <div class="type-form-wrapper">
                        <form id="pokemon-select-form">
                            <select class="pokemon-select" tabindex="1">
                                <option value="0" selected disabled>Find pokemon</option>

                                {% for pokemon in pokemon_data %}
                                    <option value="{{ pokemon.0 }}" {% if pokemon_id == pokemon.0 %}selected{% endif %}>{{ pokemon.1 }}</option>
                                {% endfor %}
                            </select>
                        </form>
                    </div>
                </th>
                <th class="row type-filter-wrapper" colspan="6">
                    <div class="col-xs-6 type-wrapper">
                        <form id="type-filter-form">
                            <select class="type-select" tabindex="2">
                                <option value="0" selected disabled>Filtery by type</option>

                                {% for type in types %}
                                    <option value="{{ type.0 }}" {% if type_id == type.0 %}selected{% endif %}>{{ type.1 }}</option>
                                {% endfor %}
                            </select>
                        </form>
                    </div>
                    <div class="col-xs-6">
                        <a href="{% url 'pgo:pokemon-list' %}" class="btn btn-primary btn-sm clear-pokemon-filter-button" tabindex="4">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </a>
                    </div>
                </th>
            </tr>
            <tr>
                <th>
                    {% include 'pgo/includes/pokemon_sortable_header.html' with name='#' sort_by='number' %}
                </th>
                <th>
                    {% include 'pgo/includes/pokemon_sortable_header.html' with name='Name' sort_by='name' %}
                </th>
                <th>
                    {% include 'pgo/includes/pokemon_sortable_header.html' with name='Pri.type' sort_by='primary_type' %}
                </th>
                <th>
                    {% include 'pgo/includes/pokemon_sortable_header.html' with name='Sec.type' sort_by='secondary_type' %}
                </th>
                <th>
                    {% include 'pgo/includes/pokemon_sortable_header.html' with name='STA' sort_by='pgo_stamina' %}
                </th>
                <th>
                    {% include 'pgo/includes/pokemon_sortable_header.html' with name='ATK' sort_by='pgo_attack' %}
                </th>
                <th>
                    {% include 'pgo/includes/pokemon_sortable_header.html' with name='DEF' sort_by='pgo_defense' %}
                </th>
                <th>
                    {% include 'pgo/includes/pokemon_sortable_header.html' with name='CP' sort_by='maximum_cp' %}
                </th>
            </tr>
        </thead>
        {% for object in object_list %}
            <tr>
                <td>
                    <a href="{% url 'pgo:pokemon-detail' object.slug %}">
                        {{ object.number }}
                    </a>
                </td>
                <td>
                    <a href="{% url 'pgo:pokemon-detail' object.slug %}">
                        {{ object.name }}
                    </a>
                </td>
                <td>
                    {{ object.primary_type }}
                </td>
                <td>
                    {{ object.secondary_type|default:"-" }}
                </td>
                <td>
                    {{ object.pgo_stamina }}
                </td>
                <td>
                    {{ object.pgo_attack }}
                </td>
                <td>
                    {{ object.pgo_defense }}
                </td>
                <td>
                    {{ object.maximum_cp|floor }}
                </td>
            </tr>
        {% endfor %}
    </table>

    {% include 'pgo/includes/to_top_button.html' %}

    {{ block.super }}
{% endblock content %}
