{% extends 'pgo/pgo_base.html' %}
{% load zenofewords_tags %}


{% block content %}
    <table class="table table-striped">
        <thead>
            <th>Number</th>
            <th>Name</th>
            <th>Pri.type</th>
            <th>Sec.type</th>
            <th>Stamina</th>
            <th>Attack</th>
            <th>Defense</th>
            <th>Max CP</th>
        </thead>
        <tr>
            <td>{{ object.number }}</td>
            <td>{{ object.name }}</td>
            <td>
                {{ object.primary_type }}
            </td>
            <td>
                {{ object.secondary_type|default:'-' }}
            </td>
            <td>{{ object.pgo_stamina }}</td>
            <td>{{ object.pgo_attack }}</td>
            <td>{{ object.pgo_defense }}</td>
            <td>{{ object.maximum_cp|floor }}</td>
        </tr>
    </table>

    <table class="table table-striped">
        <thead>
            <th>
                Moves
            </th>
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Power</th>
                <th>Energy</th>
                <th>Duration</th>
                <th>DPS</th>
                <th>EPS</th>
            </tr>
        </thead>
        {% for object in object.quick_moves.all %}
            {% include 'pgo/includes/move_row.html' %}
        {% endfor %}

        {% for object in object.cinematic_moves.all %}
            {% include 'pgo/includes/move_row.html' %}
        {% endfor %}
    </table>

    <table class="table table-striped">
        <thead>
            <th>
                Movesets
            </th>
            <th colspan="5">
                Damage over 100s for level
            </th>
            <tr>
                <th>
                    Moveset
                </th>
        {% for moveset in movesets %}
            {% if forloop.first %}
                {% for moveset_data in moveset.weave_damage %}
                    <th>
                        {{ moveset_data.0|floatformat:"0" }}
                    </th>
                {% endfor %}
                </tr>
            </thead>
            {% endif %}
            <tr>
                <td>
                    {{ moveset.key }}
                   {% if moveset.legacy %}
                        <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
                    {% endif %}
                </td>

                {% for moveset_data in moveset.weave_damage %}
                    <td>
                        {{ moveset_data.1|floatformat:"0" }}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
{% endblock content %}
