{% extends 'registry/registry_base.html' %}
{% load static %}
{% load registry_tags %}


{% block title %}
    {{ block.super }} - Towns
{% endblock title %}

{% block content %}
    <table class="table table-striped">
        <thead>
            <th>Town</th>
            <th>Trainer count</th>
        </thead>
        <tbody>
            {% for object in object_list %}
                <tr>
                    <td width="50%">
                        <a href="#">
                            {{ object.name }}
                        </a>
                    </td>
                    <td width="50%">
                        {{ object.trainer_count }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {{ block.super }}
{% endblock content %}
