{% extends 'registry/registry_base.html' %}
{% load registry_tags %}
{% load static %}


{% block title %}
    {{ block.super }} - Trainers
{% endblock title %}

{% block content %}
    <h4>
        There are {{ total_trainer_count }} trainers listed in the registry.
    </h4>
    <br>
    <div class="row">
        <form id="trainer-filter-form">
            <div class="col-xs-12 col-sm-12">
                <select class="trainer-select">
                    <option value="0" selected disabled>Find trainer</option>

                    {% for nickname in trainer_nicknames %}
                        <option value="{{ nickname }}" {% if trainer_nickname == nickname %}selected{% endif %}>{{ nickname }}</option>
                    {% endfor %}
                </select>
                <a href="{% url 'registry:trainers' %}" class="btn btn-primary btn-xs">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </a>
            </div>
        </form>
    </div>
    <hr>
    <table class="table table-striped">
        <thead>
            <th width="10%">
                Team
            </th>
            <th width="20%">
                <a href="{% url 'registry:trainers' %}?sort_key={% if sort_key == 'nickname' %}-{% endif %}nickname">
                    Trainer
                </a>
            </th>
            <th width="10%">
                <a href="{% url 'registry:trainers' %}?sort_key={% if sort_key == 'level' %}-{% endif %}level">
                    Level
                </a>
            </th>
            <th width="60%">
                Location
            </th>
        </thead>
        <tbody>
            {% for object in object_list %}
                <tr>
                    <td>
                        <img src="{{ object.team.slug|team_logo_url }}" alt="team {{ object.team.slug }} logo" width="25px" height="25px" />
                    </td>
                    <td>
                        {{ object.nickname }}
                    </td>
                    <td>
                        {{ object.level|default:"-" }}
                    </td>
                    <td>
                        {% for town in object.towns.all %}
                            {{ town.name }}{% if not forloop.last %},{% endif %}
                        {% endfor %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <p>Notice a trainer missing, or outdated information? Contact one of our administrators on facebook.</p>

    {{ block.super }}
{% endblock content %}

{% block scripts %}
    {{ block.super }}

    <script type="text/javascript">
        var trainerSelect = $('.trainer-select')
        var trainerFilterForm = $('#trainer-filter-form')
        trainerSelect.on('change', function (event) {
            if (this.value) {
                trainerFilterForm.append(
                    '<input type="hidden" name="trainer_nickname" value="' + this.value + '" />')
                trainerFilterForm.submit()
            }
        })
        trainerSelect.select2({
            'width': 150
        })
    </script>
{% endblock scripts %}
