.select2-container {
    margin: 0.3rem;
}
.attack-pro-wrapper {
    max-width: 86rem;
}
.attack-pro-input-wrapper {
    max-width: 27rem;
}
.attack-pro-input {
    margin: 0.3rem;
}
.level-input {
    width: 12.8rem;
    height: 2.8rem;
    padding: 0 0 0 .8rem;
}
.attack-pro-button {
    width: 25rem;
    margin: 0.3rem;
}
.attack-pro-form-wrapper {
    margin: 0.2rem 0 1rem -.5rem;
}
.form-error {
    font-size: 2rem;
    color: red;
}
.attack-proficiency-info {
    font-size: 1.4rem;
    margin: .3rem 0 1rem 0;
}
.attack-proficiency-current {
    font-size: 1.4rem;
    display: none;
}
.attack-proficiency-stats-wrapper {
    max-width: 85rem;
    display: none;
}
.detail-summary-text {
    padding: 1rem;
}
.help-button {
    margin: .3rem 0 0 -0.1rem;
    padding: .3rem 1rem;
}
.help-text {
    font-size: 1.2rem;
    padding: .2rem 2rem;
    max-width: 30rem;
    display: none;
}
.shoutbox {
    font-size: 1.2rem;
    max-width: 85rem;
}
#toggle-changelog {
    text-decoration: none;
}
.changelog {
    display: none;
}

#attack-proficiency-stats td {
    font-size: 1.4rem;
    text-align: center;
    vertical-align: middle;
    padding: .4rem;
}
.attack-proficiency-detail {
    cursor: pointer;
}
#clicked-cell {
    border-top: .1rem solid #2e6da4;
    border-left: .1rem solid #2e6da4;
    border-bottom: .1rem solid white;
    border-right: .1rem solid #2e6da4;
}
#detail-summary-cell {
    border: .1rem solid #2e6da4;
}
.error {
    border-radius: .3rem;
    box-shadow:inset 0 0 0 .2rem #f00;
}
#select2-attacker-container, #select2-quick_move-container, #select2-cinematic_move-container,
#select2-attack_iv-container, #select2-weather_condition-container, #select2-defender-container {
    margin-top: -0.1rem;
}
.raid-toggle-button {
    margin: 0 .1rem;
    padding: .3rem 1.1rem .3rem 1rem;
}
