.input-padding-right {
  padding-right: .3rem;
  padding-bottom: .6rem;
}
.input-padding-left {
  padding-left: .3rem;
  padding-bottom: .6rem;
}
.text-margin-top {
  margin-top: 2rem;
}
.breakpoint-calc-input {
  height: 28px;
  padding: .35rem;
}
#breakpoint-calc-form {
  padding-bottom: 1.3rem;
}
#breakpoint-calc-input-attacker-level {
  padding-left: .8rem;
}
#breakpoint-calc-header-text {
  text-align: justify;
}
#breakpoint-calc-breakpoint-details-table {
  border-top: .1rem solid gray;
}
.breakpoint-calc-move-icon {
  margin-left: -.2rem;
}
.error {
  border-radius: .35rem;
  border-bottom: .2rem solid #f00;
}

.select2 {
  width: 100% !important;
}
#select2-breakpoint-calc-select-attacker-container,
#select2-breakpoint-calc-select-weather-condition-container,
#select2-breakpoint-calc-select-defender-container {
  margin-top: -0.1rem;
}
