.select2-container {
    margin: 0.3rem;
}
.breakpoint-calc-wrapper {
    max-width: 86rem;
}
.breakpoint-calc-input-wrapper {
    max-width: 27rem;
}
.breakpoint-calc-input {
    margin: 0.3rem;
}
.level-input {
    width: 14rem;
    height: 2.8rem;
    padding: 0 0 0 .8rem;
}
.breakpoint-calc-atk-iv-wrapper {
    margin: 0 -1.6rem 0 1.5rem;
}
.breakpoint-calc-button {
    width: 28rem;
    margin: 0.3rem;
}
.breakpoint-calc-form-wrapper {
    margin: 0.2rem 0 1rem -.3rem;
}
.form-error {
    font-size: 2rem;
    color: red;
}
.breakpoint-calc-info {
    font-size: 1.4rem;
    margin: .3rem 0 1rem 0;
}
.breakpoint-calc-current {
    font-size: 1.4rem;
    display: none;
}
.breakpoint-calc-stats-wrapper {
    max-width: 85rem;
    display: none;
}
.detail-summary-text {
    padding: 1rem;
}
.help-button-wrapper {
    margin: 0 0 0 -1rem;
}
.help-button {
    margin: .3rem 0 0 .1rem;
    padding: .3rem 1rem;
}
.help-text {
    font-size: 1.2rem;
    padding: .2rem 2rem;
    max-width: 32rem;
    display: none;
}
.shoutbox {
    font-size: 1.2rem;
    max-width: 85rem;
}
#toggle-changelog {
    text-decoration: none;
}
.changelog {
    display: none;
}

#breakpoint-calc-stats td {
    font-size: 1.4rem;
    text-align: center;
    vertical-align: middle;
    padding: .4rem;
}
.breakpoint-calc-detail {
    cursor: pointer;
}
#clicked-cell {
    border-top: .1rem solid #2e6da4;
    border-left: .1rem solid #2e6da4;
    border-bottom: .1rem solid white;
    border-right: .1rem solid #2e6da4;
}
#detail-summary-cell {
    border: .1rem solid #2e6da4;
}
.error {
    border-radius: .3rem;
    box-shadow:inset 0 0 0 .2rem #f00;
}
.raid-select-wrapper {
    max-width: 27rem;
}
.raid-toggle-wrapper {
    margin: 0 -3rem 0 2.2rem;
}
.raid-toggle-button {
    margin: .3rem -.4rem;
    padding: .3rem .9rem .3rem .8rem;
}
.raid-tier-wrapper {
    margin: 0 0 0 .8rem;
}

#select2-attacker-container, #select2-quick_move-container, #select2-cinematic_move-container,
#select2-attack_iv-container, #select2-weather_condition-container,
#select2-defender_raid_boss-container, #select2-raid_tier-container,
#select2-defender-container {
    margin-top: -0.1rem;
}
