.input-padding-right {
  padding-right: .3rem;
  padding-bottom: .6rem;
}
.input-padding-left {
  padding-left: .3rem;
  padding-bottom: .6rem;
}
.text-margin-top {
  margin-top: 2rem;
}
.breakpoint-calc-input {
  height: 28px;
  padding: .35rem;
}
#breakpoint-calc-form {
  padding-bottom: .7rem;
}
#breakpoint-calc-input-attacker-level {
  padding-left: .8rem;
}
#breakpoint-calc-atk-iv-assessment {
  margin: 0;
}
#breakpoint-calc-header-text {
  text-align: justify;
}
#breakpoint-calc-breakpoint-details-table table {
  border-top: .1rem solid #cacaca;
  border-bottom: .1rem solid #cacaca;
}
#breakpoint-calc-breakpoint-details-table-body tr:first-child {
  font-weight: 900;
}
#breakpoint-calc-counters-moveset {
  margin-bottom: 0;
  border-bottom: none !important;
}
#breakpoint-calc-counters-move {
  padding-right: 0;
}
#breakpoint-calc-counters-moveset-label {
  border-bottom: none;
  vertical-align: middle;
}
.breakpoint-calc-move-icon {
  margin-left: -.2rem;
}
#breakpoint-calc-toggle-cinematic-breakpoints {
  padding: .1rem;
}
.breakpoint-calc-tab {
  margin-right: .2rem;
  margin-bottom: -.1rem;
  border-radius: .3rem .3rem 0 0;
  border-color: #cacaca;
  background-color: #fafafa;
  outline-color: #fdfdfd !important;
}
.breakpoint-calc-selected-tab {
  border-bottom-color: #fff;
}
.breakpoint-calc-top-counter-chevron {
  margin-left: .5rem;
}
.breakpoint-calc-top-counter-subrow {
  background-color: #f9f9f9;
}
.error {
  border-radius: .4rem;
  border-bottom: .3rem solid #f00;
  margin-top: -.3rem;
}

/* fixing the hideous select input "gloss" in safari */
select {
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGRhdGEtbmFtZT0iTGF5ZXIgMSIgdmlld0JveD0iMCAwIDQuOTUgMTAiPg0KICA8cGF0aCBkPSJNMS40MSA0LjY3bDEuMDctMS40OSAxLjA2IDEuNDlIMS40MXptMi4xMy42NkwyLjQ4IDYuODIgMS40MSA1LjMzaDIuMTN6Ii8+DQo8L3N2Zz4=
    ) no-repeat 100% 50% !important;
  background-size: 2.5rem 2.5rem !important;
  -webkit-appearance:none !important;
  -moz-appearance:none !important;
  -ms-appearance:none !important;
  padding: 0 0 .1rem .8rem !important;
}
select::-ms-expand {
  display: none;
}
select:disabled {
  background-color: #eee !important;
}

/* choices.js CSS overrides */
.choices__inner {
  background-color: #fff;
  padding: 0 4px;
  border: 1px solid #aaa;

  height: 28px;
  min-height: 28px;
}

.choices__list--dropdown .choices__list {
  max-height: 200px;
}

.choices__item--selectable {
  margin: -1px 0 0 0;
}

.choices__list--dropdown .choices__item {
  position: relative;
  padding: 8px;
  font-size: 13px;
}

.choices[data-type*=select-one] .choices__input {
  font-size: 14px;
  padding: 8px;
}

.choices:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}
