.good-to-go-checkbox-button {
  margin: .3rem;
  padding: .3rem .9rem .3rem .8rem;
  min-width: 13rem;
}
#toggle_current_raid_bosses {
  width: 28rem;
}
.good-to-go-atk-iv-weather-wrapper {
  max-width: 27rem;
}
.good-to-go-weather-condition-wrapper {
  margin: 0 0 0 -3.5rem;
}
.good-to-go-results {
  max-width: 82rem;
}
.good-to-go-results-subcategory-header, .good-to-go-results-header {
  padding: .3rem .8rem;
  border-left: .1rem solid #2e6da4;
  border-bottom: .1rem solid #2e6da4;
}
.good-to-go-results-header {
  margin-left: 1rem;
}
.good-to-go-single-result {
  margin-left: 1rem;
  padding: .4rem;
}
.good-to-go-results-subcategory-header, .good-to-go-results-header {
  cursor: pointer;
}
.good-to-go-green {
  color: green;
  padding: 0 .5rem 0 0;
}
.good-to-go-red {
  color: red;
  padding: 0 .5rem 0 0;
}
.submit-button {
  width: 28rem;
  margin: 0.3rem;
}
.error {
  border-radius: .3rem;
  box-shadow:inset 0 0 0 .2rem #f00;
}
.select2-container {
  margin: .3rem;
}

#select2-good-to-go-select-attacker-container,
#select2-good-to-go-select-quick-move-container,
#select2-good-to-go-select-cinematic-move-container,
#select2-good-to-go-select-atk-iv-container,
#select2-good-to-go-select-weather-condition-container {
  margin-top: -.1rem;
}
