#type-label-wrapper {
  padding: .4rem .6rem .4rem 0;
}
.type-label {
  color: #333;
  padding: .4rem .5rem .3rem;
  border-radius: .5rem;
  font-size: 1.2rem;
  width: 5.5rem;
  text-align: center;
  margin: 0 .1rem;
}
.type-label-small {
  color: #333;
  padding: .6rem .6rem .5rem;
  border-radius: .5rem;
  font-size: 1.2rem;
}
.type-bug {
  background-color: rgba(148, 194, 46, .7);
}
.type-dark {
  background-color: rgba(94, 90, 107, .7);
}
.type-dragon {
  background-color: rgba(9, 108, 193, .7);
}
.type-electric {
  background-color: rgba(245, 212, 73, .7);
}
.type-fairy {
  background-color: rgba(238, 146, 229, .7);
}
.type-fighting {
  background-color: rgba(209, 65, 101, .7);
}
.type-fire {
  background-color: rgba(254, 161, 83, .7);
}
.type-flying {
  background-color: rgba(143, 169, 222, .7);
}
.type-ghost {
  background-color: rgba(92, 108, 183, .7);
}
.type-grass {
  background-color: rgba(96, 188, 91, .7);
}
.type-ground {
  background-color: rgba(217, 121, 71, .7);
}
.type-ice {
  background-color: rgba(121, 209, 197, .7);
}
.type-normal {
  background-color: rgba(145, 154, 161, .7);
}
.type-poison {
  background-color: rgba(169, 101, 200, .7);
}
.type-psychic {
  background-color: rgba(250, 126, 126, .7);
}
.type-rock {
  background-color: rgba(201, 187, 140, .7);
}
.type-steel {
  background-color: rgba(85, 146, 164, .7);
}
.type-water {
  background-color: rgba(85, 155, 217, .7);
}
#contracted-table tr td {
  padding-right: .1rem;
}
#no-left-padding {
  padding-left: 0;
}
.underline {
  text-decoration: underline;
}
.pokemon-filter-form {
  margin-bottom: 2rem;
}
.pokemon-filter-form .choices {
  margin-bottom: .5rem;
}
.pokemon-filter-control-wrapper {
  display: flex;
  justify-content: space-between;
}
.pokemon-item-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.pokemon-type-wrapper {
  display: flex;
  justify-content: flex-start;
}
.move-name {
  min-width: 6rem;
}

.input-padding-right {
  padding-right: .3rem;
  padding-bottom: .6rem;
}
.input-padding-left {
  padding-left: .3rem;
  padding-bottom: .6rem;
}
.input-padding-bottom {
  padding-bottom: .6rem;
}
.input-height {
  height: 28px;
  padding: .35rem;
}
.input-table {
  margin: -.3rem;
}
.text-margin-bottom {
  margin-bottom: 2rem;
}
.error-text {
  color: #f00;
}

/* breakpoint calc specific */
#breakpoint-calc-input-attacker-level {
  padding-left: .8rem;
}
#breakpoint-calc-atk-iv-assessment {
  margin: 0 0 1.5rem 0;
  text-align: justify;
}
#breakpoint-calc-move-effectiveness {
  margin: 0 0 1.5rem 0;
  text-align: justify;
}
#breakpoint-calc-breakpoint-details-table table {
  border-top: .1rem solid #cacaca;
  border-bottom: .1rem solid #cacaca;
}
#breakpoint-calc-breakpoint-details-table-body tr:first-child {
  font-weight: 900;
}
#breakpoint-calc-counters-moveset {
  margin-bottom: 0;
  border-bottom: none !important;
}
#breakpoint-calc-counters-move {
  padding-right: 0;
}
#breakpoint-calc-counters-moveset-label {
  border-bottom: none;
  vertical-align: middle;
}
.breakpoint-calc-move-icon {
  margin-left: -.2rem;
}
#breakpoint-calc-toggle-cinematic-breakpoints {
  padding: .1rem;
}
.breakpoint-calc-tab {
  margin-right: .2rem;
  margin-bottom: -.1rem;
  border-radius: .3rem .3rem 0 0;
  border-color: #cacaca;
  background-color: #fafafa;
  outline-color: #fdfdfd !important;
}
.breakpoint-calc-selected-tab {
  border-bottom-color: #fff;
}
.breakpoint-calc-top-counter-chevron {
  margin-left: .5rem;
}
.breakpoint-calc-top-counter-subrow {
  background-color: #f9f9f9;
}
.frailty-resilient {
  margin-top: -.3rem;
}
.frailty-fragile {
  margin-left: .09rem;
  color: #f00;
}
.icon-stardust {
  margin-left: -.5rem;
  padding-right: .2rem;
}
.icon-candy {
  padding-left: .4rem;
}
.glyphicon {
  top: .2rem;
}
#breakpoint-calc-breakpoints-table {
  margin-bottom: 1.5rem;
}
table#breakpoint-calc-breakpoints-table tr th:first-child,
table#breakpoint-calc-breakpoints-table tr td:first-child {
  padding-left: .7rem;
}
table#breakpoint-calc-counters-moveset tr th:first-child {
  padding-left: .3rem;
}
table#top-counters-table tr th {
  padding-left: .3rem;
  padding-right: 0;
}
table#top-counters-table tr td {
  padding-left: .1rem;
  padding-right: 0;
}
table#top-counters-table tr td:last-child {
  padding-right: 0;
}
.error {
  border-radius: .4rem;
  border-bottom: .3rem solid #f00;
  margin-top: -.3rem;
}
.disclaimer {
  text-align: justify;
  font-size: 1.3rem;
}
.faq-legend-wrapper hr {
  margin: 1.5rem 0;
}
#faq-legend-link {
  text-align: center;
  text-decoration: none;
}
#faq-legend-content {
  text-align: justify;
}
#faq-legend-content ul {
  list-style-type: none;
  padding-left: 0;
}
.align-right {
  text-align: right;
}
.align-right-pad {
  text-align: right;
  padding-right: 2rem !important;
}

/* good to go specific */
#toggle-tier-3-6-raid-bosses,
#toggle-tier-1-2-raid-bosses,
#toggle-relevant-defenders {
  padding: 0;
}
.good-to-go-results-subcategory-header,
.good-to-go-results-header {
  padding: .3rem 0 .3rem .8rem;
  border-left: .1rem solid #5bc0de;
  border-bottom: .1rem solid #5bc0de;
  cursor: pointer;
}
.good-to-go-single-result {
  margin-left: -.7rem;
  padding: 0;
}
.good-to-go-ok-indicator {
  padding: 0 1rem;
  color: green;
}
.good-to-go-warning-indicator {
  padding: 0 1rem;
  color: red;
}
#good-to-go-summary-text {
  margin: 0;
  text-align: justify;
}
#good-to-go-summary-text p {
  margin-top: 0;
}


/* Pv3P specific */
.pvp-button-wrapper {
  padding: .5rem 0 1.5rem 0;
}
.pvp-menu-button-wrapper {
  display: flex;
  justify-content: flex-end;
}
.pvp-slot-button {
  border-radius: 3rem;
  margin-right: .69rem;
  padding: 1.15rem 0;
  width: 4.5rem;
}
.pvp-slot-button:last-child {
  margin-right: 0;
}
.focused-slot {
  box-shadow: .2rem .3rem .3rem rgba(150, 150, 150, .6)
}
.empty-slot {
  background: #ccc;
}
.pvp-menu-button {
  position: relative;
  padding: 1.1rem 0;
  height: 4.5rem;
  width: 4.5rem;
}
.pvp-menu-button:last-child {
  margin-left: 1.1rem;
}
.pvp-evolve-cp-header {
  font-size: 1.8rem;
  position: absolute;
  top: .5rem;
  left: 22%;
}
.pvp-evolve-cp-label {
  font-size: 1.2rem;
  position: absolute;
  left: .4rem;
  bottom: 0;
}
.pvp-iv-calc-header {
  font-size: 1.8rem;
  position: absolute;
  top: .5rem;
  left: 32%;
}
.pvp-iv-calc-label {
  font-size: 1.2rem;
  position: absolute;
  left: 1.05rem;
  bottom: 0;
}
.pvp-help p {
  margin: 0 0 1rem 0;
  text-align: justify;
}
.pvp-help hr {
  margin: 0 0 1rem 0;
}
.pvp-pokemon-wrapper {
  box-shadow: 0.1rem 0.2rem 0.6rem rgba(0,0,0, .3);
  border-radius: .3rem;
  padding: 1.5rem 1rem 1rem 1rem;
  margin: 0 0 1rem 0;
}
.pvp-pokemon-header {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 0 0 1rem 0;
  padding: 0 0 1rem 0;
  border-bottom: .1rem solid rgba(150, 150, 150, .3);
}
.pvp-pokemon-header p:first-child {
  font-size: 1.7rem;
  margin: -.8rem 0 0 0;
}
.pvp-pokemon-header p:last-child {
  position: absolute;
  top: 45%;
  left: .4%;
  font-size: 1rem;
}
.pvp-pokemon-header span:last-child {
  margin: 0 0 0 .5rem;
}
.pvp-compound-resistance {
  list-style: none;
  padding: 0;
  margin-bottom: 0;
}
.pvp-compound-resistance li {
  margin: .4rem 0;
  display: flex;
  justify-content: space-between;
}
.pvp-compound-resistance li span:first-child {
  padding: 0 3rem 0 0;
}
.pvp-compound-weakness {
  list-style: none;
  padding: 0;
  margin-bottom: 0;
}
.pvp-compound-weakness li {
  margin: .4rem 0;
  display: flex;
  justify-content: space-between;
}
.pvp-compound-weakness li span:last-child {
  padding: 0 0 0 3rem;
}
.pvp-pokemon-type-effectiveness-wrapper {
  display: flex;
  justify-content: space-between;
}


/* fixing the hideous select input "gloss" in safari */
select {
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGRhdGEtbmFtZT0iTGF5ZXIgMSIgdmlld0JveD0iMCAwIDQuOTUgMTAiPg0KICA8cGF0aCBkPSJNMS40MSA0LjY3bDEuMDctMS40OSAxLjA2IDEuNDlIMS40MXptMi4xMy42NkwyLjQ4IDYuODIgMS40MSA1LjMzaDIuMTN6Ii8+DQo8L3N2Zz4=
    ) no-repeat 100% 50% !important;
  background-size: 2.5rem 2.5rem !important;
  -webkit-appearance:none !important;
  -moz-appearance:none !important;
  -ms-appearance:none !important;
  padding: 0 0 .1rem .8rem !important;
}
select::-ms-expand {
  display: none;
}
select:disabled {
  background-color: #eee !important;
}

/* choices.js overrides */
.choices__inner {
  background-color: #fff;
  padding: 0 4px;
  border: 1px solid #aaa;
  height: 28px;
  min-height: 28px;
}
.choices__item--selectable {
  margin: -1px 0 0 0;
}
.choices__list--dropdown
.choices__list {
  max-height: 200px;
}
.choices__list--dropdown
.choices__item {
  position: relative;
  padding: 8px;
  font-size: 13px;
}
.choices[data-type*=select-one]
.choices__input {
  font-size: 14px;
  padding: 8px;
}
.choices:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}

/* general */
html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1 0 auto;
}
.foosnote {
  margin: 0;
}
.footer {
  flex-shrink: 0;
  padding: 1rem 0;
  font-size: 1.2rem;
}
.pagination {
  padding: 0;
}
.pagination span.glyphicon {
  margin: -.2rem 0 0 0;
}
.search-pokemon-wrapper .choices {
  margin: -.35rem 0 0 -.85rem;
}
.search-move-wrapper .choices {
  margin: -.35rem 0 0 -.8rem;
}
.table-wrapper {
  display: flex;
  flex-wrap: wrap;
}
.effectiveness-table-wrapper,
.stats-table-wrapper,
.pokemon-with-move-table-wrapper {
  display: flex;
  flex-grow: 1;
}
