.input-padding-right {
  padding-right: .3rem;
  padding-bottom: .6rem;
}
.input-padding-left {
  padding-left: .3rem;
  padding-bottom: .6rem;
}
.input-height {
  height: 28px;
  padding: .35rem;
}
.text-margin-top {
  margin-top: 2rem;
}
#breakpoint-calc-input-attacker-level {
  padding-left: .8rem;
}
#breakpoint-calc-atk-iv-assessment {
  margin: 0;
  text-align: justify;
}
#breakpoint-calc-atk-iv-assessment p {
  margin-top: 0;
}
#breakpoint-calc-breakpoint-details-table table {
  border-top: .1rem solid #cacaca;
  border-bottom: .1rem solid #cacaca;
}
#breakpoint-calc-breakpoint-details-table-body tr:first-child {
  font-weight: 900;
}
#breakpoint-calc-counters-moveset {
  margin-bottom: 0;
  border-bottom: none !important;
}
#breakpoint-calc-counters-move {
  padding-right: 0;
}
#breakpoint-calc-counters-moveset-label {
  border-bottom: none;
  vertical-align: middle;
}
.breakpoint-calc-move-icon {
  margin-left: -.2rem;
}
#breakpoint-calc-toggle-cinematic-breakpoints {
  padding: .1rem;
}
.breakpoint-calc-tab {
  margin-right: .2rem;
  margin-bottom: -.1rem;
  border-radius: .3rem .3rem 0 0;
  border-color: #cacaca;
  background-color: #fafafa;
  outline-color: #fdfdfd !important;
}
.breakpoint-calc-selected-tab {
  border-bottom-color: #fff;
}
.breakpoint-calc-top-counter-chevron {
  margin-left: .5rem;
}
.breakpoint-calc-top-counter-subrow {
  background-color: #f9f9f9;
}
.frailty-resilient {
  margin-top: -.3rem;
}
.frailty-fragile {
  margin-left: .09rem;
  color: #f00;
}
.icon-stardust {
  margin-left: -.5rem;
  padding-right: .2rem;
}
.icon-candy {
  padding-left: .4rem;
}
.glyphicon {
  top: .2rem;
}
table#breakpoint-calc-breakpoints-table tr th:first-child,
table#breakpoint-calc-breakpoints-table tr td:first-child {
  padding-left: .7rem;
}
table#breakpoint-calc-counters-moveset tr th:first-child {
  padding-left: .3rem;
}
table#top-counters-table tr th {
  padding-left: .3rem;
  padding-right: 0;
}
table#top-counters-table tr td {
  padding-left: .1rem;
  padding-right: 0;
}
table#top-counters-table tr td:last-child {
  padding-right: 0;
}
.error {
  border-radius: .4rem;
  border-bottom: .3rem solid #f00;
  margin-top: -.3rem;
}
.disclaimer {
  text-align: justify;
  font-size: 1.3rem;
}
#faq-legend-link {
  font-size: 1.8rem;
  text-align: center;
  text-decoration: none;
}
#faq-legend-content {
  text-align: justify;
}
#faq-legend-content ul {
  list-style-type: none;
  padding-left: 0;
}

/* good to go specific */
#toggle-tier-3-5-raid-bosses,
#toggle-tier-1-2-raid-bosses,
#toggle-relevant-defenders {
  padding: 0;
}
.good-to-go-results-subcategory-header,
.good-to-go-results-header {
  padding: .3rem 0 .3rem .8rem;
  border-left: .1rem solid #5bc0de;
  border-bottom: .1rem solid #5bc0de;
  cursor: pointer;
}
.good-to-go-single-result {
  margin-left: -.7rem;
  padding: 0;
}
.good-to-go-ok-indicator {
  padding: 0 1rem;
  color: green;
}
.good-to-go-warning-indicator {
  padding: 0 1rem;
  color: red;
}
#good-to-go-summary-text {
  margin: 0;
  text-align: justify;
}
#good-to-go-summary-text p {
  margin-top: 0;
}

/* fixing the hideous select input "gloss" in safari */
select {
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGRhdGEtbmFtZT0iTGF5ZXIgMSIgdmlld0JveD0iMCAwIDQuOTUgMTAiPg0KICA8cGF0aCBkPSJNMS40MSA0LjY3bDEuMDctMS40OSAxLjA2IDEuNDlIMS40MXptMi4xMy42NkwyLjQ4IDYuODIgMS40MSA1LjMzaDIuMTN6Ii8+DQo8L3N2Zz4=
    ) no-repeat 100% 50% !important;
  background-size: 2.5rem 2.5rem !important;
  -webkit-appearance:none !important;
  -moz-appearance:none !important;
  -ms-appearance:none !important;
  padding: 0 0 .1rem .8rem !important;
}
select::-ms-expand {
  display: none;
}
select:disabled {
  background-color: #eee !important;
}

/* choices.js overrides */
.choices__inner {
  background-color: #fff;
  padding: 0 4px;
  border: 1px solid #aaa;
  height: 28px;
  min-height: 28px;
}
.choices__item--selectable {
  margin: -1px 0 0 0;
}
.choices__list--dropdown
.choices__list {
  max-height: 200px;
}
.choices__list--dropdown
.choices__item {
  position: relative;
  padding: 8px;
  font-size: 13px;
}
.choices[data-type*=select-one]
.choices__input {
  font-size: 14px;
  padding: 8px;
}
.choices:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}
